<p class="summary">These <%= t("numbers.#{@collections&.length.to_i}", default: @collections&.length.to_i) %> Columbia centers actively partner with Academic Commons to provide long-term access to their work. Choose a center to start exploring.</p>
