<p>Many of these journals are published in partnership with the Columbia University Libraries. If you are interested in starting a journal or migrating your journal to a new publishing platform, contact the Libraries journal publishing program at xxx@columbia.edu.</p>
