<p>These journals are published in partnership with the Columbia University Libraries. If you are affiliated with Columbia and interested in starting a journal or migrating your journal to a new publishing platform, contact the Libraries digital publishing program at <a href="mailto:publishing@library.columbia.edu">publishing@library.columbia.edu</a>.</p>
