<ul class="link-list">
  <% @collections.each do |collection| %>
    <li>
      <%= link_to collection.label, collection.search_url %> (<%= collection.count %>)
      <%= content_tag(:span, collection.description) if collection.description %>
    </li>
  <% end %>
</ul>
