<% title 'Explore' %>

<% content_for :header do %>
  <h1>Explore</h1>
<% end %>

<p class="summary">
  Academic Commons hosts research and scholarship from across Columbia University and its affiliate institutions. You can use the collections below to begin exploring or <%= link_to('browse everything in the repository', search_action_path) %>.
</p>

<div class="menu">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 tile">
        <h2><%= link_to category.title, category.url %></h2>
        <p><%= raw category.summary %></p>
      </div>
    <% end %>
  </div>
</div>
