<h2>Enable or Disable Asset Downloads</h2>
<h2>Downloading is currently
  <% if @enabled %>
      <span style="color: green;">Enabled</span>
  <% else %>
      <span style="color: red;">Disabled</span>
  <% end %>
</h2>
<p>
  In some situations, administrators may wish to disable downloads from the 
  Academic Commons site temporarily. You can enable and disable downloading with
  this button. When downloads are disabled, the 'download' button will still 
  appear when viewing items, but will not be clickable.
</p>
<div>
<%= render :partial=>'toggle_downloads_form' %>
</div>