/* mixins */

@mixin tag-label {
  color: $gray-light;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}

@mixin tag-link {
  background: $link-color;
  border-radius: 3px;
  color: $body-bg;
  display: inline-block;
  margin: 0 6px 10px 0;
  padding: 3px 7px;
  white-space: nowrap;
}

@mixin visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
