<input type="hidden" name="AC-agreement-version" id="AC-agreement-version"  value="1.1" />
<legend>Read and Accept Author Agreement</legend>

<iframe src="<%=relative_root%>/self-deposit/ETDagreementtext.htm" width="100%" height="300px"> </iframe>
 
<p> <span class="pdf-link"><a href="<%=relative_root%>/self-deposit/ETDagreementtext.pdf" target="_blank" >Download PDF</a></span></p>



<div style="border: 0px solid black; padding:  10px 20px 0px 20px">
	You may choose to delay release of your thesis in Academic Commons for one or two years after the thesis due date. If you do not want to embargo your dissertation, choose no embargo.
</div>


<div style="border: 0px solid black; padding:  10px 140px 40px 20px;">
	
    <div style='display: table; width: 100%;'>
      <div style='display: table-row; width: 100%;'>
        <div  style='display: table-cell; border: 0px solid black;'>
        	<input type="radio" name="years_embargo" value="0" style="height:15px ; width:15px" checked> No embargo
        </div>
        <div  style='display: table-cell; border: 0px solid black;'>
        	<input type="radio" name="years_embargo" value="1" style="height:15px ; width:15px"> 1 years embargo
        </div>
        <div  style='display: table-cell; border: 0px solid black;'>
        	<input type="radio" name="years_embargo" value="2" style="height:15px ; width:15px"> 2 years embargo
        </div>
      </div>
    </div>  
    
</div>

<p>
	<label style="width: 150px;" for="acceptedAgreement"></label>

	<%= check_box_tag 'acceptedAgreement', 'agree', false, :class => required_class, :title => 'You must accept the Author Rights Agreement to continue.' %><span class="agreement-language"> I have Read and Accept the Author Agreement </span>

    <span class="form-field-info"></span>
</p>

