<% @page_title = "Deposit Your Research | " + application_name  %>

<div class="page box sd">
<h2><%= @message_1 %></h2>
<div id='intro'>
<p><%= @message_2 %> Your acceptance will be noted and recorded by our staff. Please feel free to contact us at <a href="mailto:info@cdrs.columbia.edu">info@cdrs.columbia.edu</a> if you have any additional questions.</p>
</div>
</div>