<% @page_title = "Successfully Submitted Research | " + application_name  %>

<div class="page box sd">
<h2>We Have Received your Submission</h2>

<div id="intro">
<p>Thank you for your deposit to Academic Commons.</p>

<p>Our staff will be reviewing the details of your submission shortly, and will be in touch with you if we require more information. User-submitted content generally becomes available on our site within one to two weeks after deposit. When it is available we will contact you with the permanent URL, which you can use on your website, CV, and elsewhere to ensure that people can find their way to your work. </p>
 
<p>If you are on Twitter, please feel free to use the button below to tweet about your deposit: we will reply with the link to your work when it goes live on Academic Commons.
</p>

 
<div class="sd-twitter"><a href="https://twitter.com/intent/tweet?screen_name=ResearchatCU&text=%23settingmyresearchfree" class="twitter-mention-button" data-size="large" data-related="ResearchatCU,ColumbiaCDRS" data-dnt="true">Tweet #settingmyresearchfree</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</div>


<div class="sd-more">
 <a class="button" href="<%=relative_root%>/deposit?agreement=true">Submit More</a>
</div>
</div>

</div>
