<% @page_title = "Deposit Your Research | " + application_name  %>

<div class="page box sd">
<h2>We have Received your Submission</h2>
<p>Thank you for your deposit to Academic Commons. Our staff will be reviewing the details of your submission shortly, and will be in touch 
	with you if we require more information. User-submitted content generally becomes available on our site within one to two weeks after 
	deposit. When it is available we will contact you with the permanent URL, which you can use on your website, CV, and elsewhere to 
	ensure that people can find their way to your work.</p>
</div>
