<%= form_with url: admin_site_configuration_path, method: :patch, local: true do |f| %>
  <div>
    <%= f.text_area :alert_message, value: SiteConfiguration.alert_message %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>