<div class="mt-3" id='downloads-message-form'>
  <%= form_with url: admin_site_configuration_path, method: :patch, local: true, data: { turbo: false } do |form| %>
    <%= form.text_area :downloads_message, value: SiteConfiguration.downloads_message %>
    <%= form.submit 'Save Message', class: 'btn btn-primary' %>
  <% end %>
</div>