<div id='deposits-toggle-form'>
<%= form_with url: admin_site_configuration_path, method: :patch, local: true, data: { turbo: false } do |form| %>
  <% if SiteConfiguration.deposits_enabled  %>
    <% action_label = "Disable Deposits" %>
    <% enable = false %>
  <% else %>
    <% action_label = "Enable Deposits" %>
    <% enable = true %>
  <% end %>
</div>