config/database.yml
config/solr.yml
config/fedora.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.pid
tmp/**/*
log/*.log*
log/ac-indexing/*.log
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
jetty/logs/*
jetty/solr/data/*
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
.project
.loadpath
.sass-cache/**
.rvmrc
.rvmrc*
public/stylesheets/compiled/**
private/*
