.DS_Store
.project
.bundle
db/*.sqlite3
db/cstore/**
db/sphinx/**
log/*.log
log/*.log*
tmp/**/*
tmp/*_visits
tmp/*_visitors
config/database.yml
config/solr.yml
config/fedora.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.pid
.loadpath
.sass-cache/**
.rvmrc
.rvmrc*
private/*
*.tmproj
*.sw?
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
