- @page_title = "Email Preference"

%p
  %strong Author:
  =h @email_preference.author
%p
  %strong Monthly Opt Out:
  =h @email_preference.monthly_opt_out
%p
  %strong Alternate Email:
  =h @email_preference.email

%p
  = link_to "Edit", edit_email_preference_path(@email_preference)
  |
  = link_to "Destroy", @email_preference, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", email_preferences_path
