/* line 4, ../../../app/stylesheets/application.sass */
#appliedParams a#feedLink {
  display: inline;
  text-decoration: none;
}
/* line 8, ../../../app/stylesheets/application.sass */
#appliedParams a#feedLink img {
  position: static;
  padding-top: 2px;
  padding-left: 5px;
}

/* line 14, ../../../app/stylesheets/application.sass */
#show_resources {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #show_resources {
  overflow-x: hidden;
}
/* line 16, ../../../app/stylesheets/application.sass */
#show_resources .resource {
  margin-bottom: 2em;
  whitespace: pre-wrap;
}
/* line 19, ../../../app/stylesheets/application.sass */
#show_resources .spot0 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #show_resources .spot0 {
  overflow-x: hidden;
}
/* line 21, ../../../app/stylesheets/application.sass */
#show_resources .spot1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #show_resources .spot1 {
  overflow-x: hidden;
}
/* line 23, ../../../app/stylesheets/application.sass */
#show_resources .spot2 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #show_resources .spot2 {
  overflow-x: hidden;
}

/* line 27, ../../../app/stylesheets/application.sass */
.split_form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .split_form {
  overflow-x: hidden;
}
/* line 30, ../../../app/stylesheets/application.sass */
.split_form .label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  min-height: 2.5em;
  font-weight: bold;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .split_form .label {
  overflow-x: hidden;
}
/* line 35, ../../../app/stylesheets/application.sass */
.split_form .value {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  min-height: 2.5em;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .split_form .value {
  overflow-x: hidden;
}

/* line 41, ../../../app/stylesheets/application.sass */
#author_stats_results .th {
  font-weight: bold;
}
/* line 43, ../../../app/stylesheets/application.sass */
#author_stats_results .item {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #author_stats_results .item {
  overflow-x: hidden;
}
/* line 46, ../../../app/stylesheets/application.sass */
#author_stats_results .title {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #author_stats_results .title {
  overflow-x: hidden;
}
/* line 49, ../../../app/stylesheets/application.sass */
#author_stats_results .views {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #author_stats_results .views {
  overflow-x: hidden;
}
/* line 52, ../../../app/stylesheets/application.sass */
#author_stats_results .downloads {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../../.rvm/gems/ruby-1.8.7-p299/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #author_stats_results .downloads {
  overflow-x: hidden;
}
