<div>Dear author,</div>  <%# <--- name of author recipient  TODO: can't use this when sending to multiple emails at once %>

<p>
    An administrator for Academic Commons has sent you a message. Please view it below:
</p>

<p> <%= @body %> </p> <%# <---  message submitted with form here %>

<%#  todo : can people reply to these emails? %>

<div>
  Sincerely,
  Academic Commons
  Columbia University Libraries
</div>
