<div>Dear Academic Commons Author,</div>

<p>
    An administrator for Academic Commons has sent you a message. Please view it below:
</p>

<div style="margin: 15px; padding: 4em 3em; border: 2px solid aliceblue; width: fit-content">
  <p >
    <%= simple_format(@body, sanitize: true) %>
  </p>
</div>

<div>
  Sincerely,<br>
  Academic Commons<br>
  Columbia University Libraries
</div>
