<p>Dear <%= @name %>,</p>

<p>
  Thank you for your upload to Academic Commons. Student works are welcome in
  the repository but require approval from a degree program or academic advisor
  before they are posted.
</p>

<p>
  Your submission may already be approved--check this list of departments and
  programs [LINK TK] with established policies on student works in Academic
  Commons. If your program is not on the list, ask the program administrator or
  your advisor to send an email approving your submission to ac@columbia.edu. If
  you have any questions about this policy, email us at the same address.
</p>

<div>Academic Commons</div>
<div>Columbia University Libraries</div>
