<br/>
<br/>
<div>
  Questions about this email contact <%= mail_to "ac@columbia.edu" %>
</div>
<br/>

<div></div>

Have more to deposit: <%= link_to 'click here', deposit_url %>

<div></div>
<br/>

Wish to unsubscribe:
<%= link_to("click here", statistics_unsubscribe_monthly_url(author_id: @author_id, chk: Rails.application.message_verifier(:unsubscribe).generate(@author_id))) %>

<br/><br/>

Thank you,<br/><br/>

Academic Commons<br/>
Columbia University Libraries<br/>
