%div Dear Academic Commons Depositor,
%div
%p
  In addition to your regular monthly usage statistics, we would like to invite you to a party to celebrate the deposit of our 10,000th item in Academic Commons.
%p 
  Where: Butler Library, Rooms 522 and 523 (#{link_to 'map', 'http://bit.ly/ButlerLib'})
%br
  When: Thursday, May 2nd, 5 to 7 pm
%br
  What: Food, drink, and a chance to win a Nook Simple Touch e-reader.
%br
%p
  Please #{link_to 'rsvp', "http://bit.ly/AC10000"} so that we can be sure to lay in sufficient provisions for all! 

= render :partial => "monthly_stats", :locals => {:lifetime => true }

= render :partial => "monthly_footer"
