%div Dear Academic Commons Depositor,
%br
%div
  Please accept our apologies for the erroneous statistics report you received yesterday.
  Here are the correct monthly and lifetime use statistics for your deposits to 
  #{link_to "Academic Commons", "http://academiccommons.columbia.edu"}, 
  the digital repository of Columbia University and its affiliates.
  
= render :partial => "monthly_stats", :locals => {:lifetime => true }

%div
  Sincerely,
%br
  Robert Hilliker

= render :partial => "monthly_footer"
