<div style="width: 400px;">
Thank you for depositing "<%= @title %>" in Academic Commons. Your deposit is now in the cataloging queue and will be added to the Academic Commons website within 1-2 weeks. You will receive a confirmation with the persistent URL of your item once it is cataloged.
</div>
