%div
  %b Accepted Author Agreement
  %b
    = " (" + @agreement_version + "): "
  = (@agreement_version != "") ? "&#x2713;".html_safe : ""
%hr
%div
  %b Name:
  = @name
%hr
%div
  %b E-mail:
  = @email
%hr