%h2 Edit alert message:

= form_tag "edit_alert_message" do
  %div
    %div= text_area_tag "alert_message", @alert_message, :style => "margin-bottom: 5px; width: 600px"

  = submit_tag "Submit", :class => "btn btn-primary"
