%h3 Admin interface

%h4 Administration

%ul
  %li= link_to "Modify home page text", :action => "edit_home_page"

%h4 Index Management

%ul
  %li= link_to "Ingest new data / Delete Index", :action => :ingest
