%h1 Ingest objects
%h2 Ingest objects
%h3 Ingest objects
%h4 Ingest objects
%h5 Ingest objects
%h6 Ingest objects

#grid
  #left Grid
  #center Grid
  #right Grid

.span-24.last
  .span-8 Grid
  .span-8 Grid 2
  .span-8.last Grid 3

- form_tag "ingest" do 

  %div Please enter a list of space-delimited items to ingest:
  %div= text_field_tag :items, params[:items]

  %div Please enter a list of space-delimited collections to ingest:
  %div= text_field_tag :collections, params[:collection]

 

  = submit_tag "Commit"


  %div Or, you can delete the entire index. This is irreversible.

  = submit_tag "Delete All", :confirm => "This will delete the entire index. Are you sure you want to do this?"

