<script>
  // Use something like this, if want total stats for all organizations.
  // $(document).ready(function(){
  //   $.ajax({
  //     url: '/statistics/total_usage_stats/?q=',
  //     dataType: 'json',
  //     success: function(data) {
  //       $('#all-views-size').html(data.view);
  //       $('#all-downloads-size').html(data.download);
  //       $('#all-streams-size').html(data.streaming);
  //       $('#all-school-docs-size').html(data.records);
  //   });
  // });

  // -------- Teachers College ---------------------
  $(document).ready(function(){
    $.ajax({
      url: '/statistics/total_usage_stats/?q={!raw f=organization_ssim}Teachers College',
      dataType: 'json',
      success: function(data) {
        $('#teachers-school-docs-size').html(data.records);
        $('#teachers-school-downloads').html(data.download);
        $('#teachers-school-views').html(data.view);
        $('#teachers-school-streams').html(data.streaming);
      }
    });
  });

  // -------- Union Theological Seminary ---------------------
  $(document).ready(function(){
    $.ajax({
      url: '/statistics/total_usage_stats/?q={!raw f=organization_ssim}Union Theological Seminary',
      dataType: 'json',
      success: function(data) {
        $('#t-seminary-docs-size').html(data.records);
        $('#t-seminary-downloads').html(data.download);
        $('#t-seminary-views').html(data.view);
        $('#t-seminary-streams').html(data.streaming);
      }
    });
  });

  // -------- Jewish Theological Seminary ---------------------
  $(document).ready(function(){
    $.ajax({
      url: '/statistics/total_usage_stats/?q={!raw f=organization_ssim}Jewish Theological Seminary',
      dataType: 'json',
      success: function(data) {
        $('#j-seminary-docs-size').html(data.records);
        $('#j-seminary-downloads').html(data.download);
        $('#j-seminary-views').html(data.view);
        $('#j-seminary-streams').html(data.streaming);
      }
    });
  });


  // -------- Barnard College ---------------------
  $(document).ready(function(){
    $.ajax({
      url: '/statistics/total_usage_stats/?q={!raw f=organization_ssim}Barnard College',
      dataType: 'json',
      success: function(data) {
        $('#barnard-college-docs-size').html(data.records);
        $('#barnard-college-downloads').html(data.download);
        $('#barnard-college-views').html(data.view);
        $('#barnard-college-streams').html(data.streaming);
      }
    });
  });

  // -------- Columbia University ---------------------
  $(document).ready(function(){
    $.ajax({
      url: '/statistics/total_usage_stats/?q={!raw f=organization_ssim}Columbia University',
      dataType: 'json',
      success: function(data) {
        $('#cu-docs-size').html(data.records);
        $('#cu-downloads').html(data.download);
        $('#cu-views').html(data.view);
        $('#cu-streams').html(data.streaming);
      }
    });
  });

</script>

<div style='float:left;'><h2>School Statistics</h2></div>
<div style='float:left; padding: 10px 0 0 322px'> lifetime</div>

<br style="clear:both"/>

<div style='padding: 0px 0px;'>
  <div style='display: table; width: 100%;'>

    <div style='display: table-row; width: 100%;'>
      <div class='table-cell g_stat_head_cell' style='display: table-cell; min-width: 210px; padding: 20px 15px 15px 10px;'>
        SCHOOL
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width: ;'>
          <div style='display: table-row;'>
            <div class='table-cell g_stat_head_cell' style='display: table-cell;'>
              DOCS
            </div>
            <div class='table-cell g_stat_head_cell' style='display: table-cell;'>
              VIEWS
            </div>
            <div class='table-cell g_stat_head_cell' style='display: table-cell;'>
              DOWNLOADS
            </div>
            <div class='table-cell g_stat_head_cell' style='display: table-cell;'>
              STREAMS
            </div>

          </div>
        </div>
      </div>
    </div>

    <div style='display: table-row;'>
      <div class='table-cell g_stat_school' style='display: table-cell;'>
        <div class="school" style='background: url(/assets/college-sprites.gif) -2px 5px;'></div>
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width:;'>
          <div style='display: table-row;'>

            <div id='cu-docs-size' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='cu-views' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='cu-downloads' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='cu-streams' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style='display: table-row;'>
      <div class='table-cell g_stat_school' style='display: table-cell;'>
        <div class="school barnard"></div>
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width:;'>
          <div style='display: table-row;'>

            <div id='barnard-college-docs-size' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='barnard-college-views' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='barnard-college-downloads' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='barnard-college-streams' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style='display: table-row;'>
      <div class='table-cell g_stat_school' style='display: table-cell; float: left;'>
        <div class="school teachers"></div>
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width:;'>
          <div style='display: table-row;'>

            <div id='teachers-school-docs-size' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='teachers-school-views' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='teachers-school-downloads' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='teachers-school-streams' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style='display: table-row;'>
      <div class='table-cell g_stat_school' style='display: table-cell;'>
        <div class="school" style='background: url(/assets/college-sprites.gif) -885px 5px;'></div>
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width:;'>
          <div style='display: table-row;'>

            <div id='j-seminary-docs-size' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='j-seminary-views' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='j-seminary-downloads' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='j-seminary-streams' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style='display: table-row;'>
      <div class='table-cell g_stat_school' style='display: table-cell; float: left;'>
        <div class="school union clearfix"></div>
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width:;'>
          <div style='display: table-row;'>

            <div id='t-seminary-docs-size' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='t-seminary-views' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='t-seminary-downloads' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='t-seminary-streams' class='table-cell g_stat_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
<!--
    <div style='display: table-row; width: 100%;'>
      <div class='table-cell g_stat_head_cell' style='display: table-cell; min-width: 210px; padding: 20px 15px 15px 10px;'>
        TOTALS:
      </div>
      <div class='table-cell' style='display: table-cell; float: left; '>
        <div style='display: table; width: ;'>
          <div style='display: table-row;'>
            <div id='all-school-docs-size' class='table-cell g_stat_head_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='all-views-size' class='table-cell g_stat_head_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='all-downloads-size' class='table-cell g_stat_head_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>
            <div id='all-streams-size' class='table-cell g_stat_head_cell' style='display: table-cell;'>
              <img src="/assets/16px_on_transparent.gif" />
            </div>

          </div>
        </div>
      </div>
    </div>
--->
  </div>
</div>

<br style="clear:both"/>
