<div>
  <div>
    <script type="text/javascript">
      if(history.length > 1){
        document.write('');
      }
    </script>
  </div>
</div>

<div class='box clearfix'>
  <%= render partial: 'statistics' %>
</div>
