/* facets sidenav */

#facets {

  & .navbar {
    border: $border;
    border-radius: 4px;
    margin: 0 0 5px 0;
    padding-left: 10px;
  }

  & .facets-heading {
    font-size: $font-size-small;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  & .facet-limit {
    border-radius: 0;
    margin-bottom: 5px;
  }

  & .facet-field-heading {
    background-color: $body-bg;
    font-size: $font-size-small;
  }

  .facet-field-heading:first-child {
    border-radius: 0;
  }

  & .facet-limit-active .facet-field-heading .btn {
    color: white;
  }

  & .panel-heading.collapse-toggle .panel-title:after {
    color: $gray-base;
  }

  & .facet-count {
    width: 3.5em;
  }

  & .remove .glyphicon {
    top: 0.15em;
  }

  & .remove {
    text-indent: 7px;
  }
}

@include media-breakpoint-up(md) {

  #facets {

    & .navbar {
      border: 0;
      border-radius: 0;
    }

    & .facets-heading {
      margin: 6px 0 0 0;
    }
  }

  .facets-toggleable-md .navbar-toggler {
    display: none; 
  }
   
  .facets-toggleable-md .facets-collapse {
    display: block;
    width: 100%;
  }
}