/* main-page */

#main-page {

  /* side-nav */

  & .side-nav {
    padding-left: 15px;
  }

	& ul.anchor-links {
    color: $gray-lighter;
		font-size: $font-size-small;
    font-weight: normal;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 10px 0 0 15px;
		width: auto;

    & a {
      text-decoration: none;
    }

		& li {
			display: inline-block;
		}

		& li::after {
			content: ' | ';
		}

    & li:last-child::after {
      content: '';
    }
	}

  /* main-page content */

  & .post-content {
    padding: 20px 30px;
  }

  & a {
    text-decoration: underline;
  }

  & a.btn {
    text-decoration: none;
  }

  & .page-header {
    border: 0;
    margin: 0;
    padding: 0;
  }

  & .page-header:after,
  & .page-header:before {
    content: '';
    display: table;
  }

  & .page-header:after {
    border-bottom: $border;
    height: auto;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-top: 1.25em;
    max-width: 700px;
  }

  & h1 {
    margin: 0; 
    padding: 0 0 15px 15px;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
  }

  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  & h4 {
    font-size: 1.35rem;
    font-weight: 500;
  }

  & h5 {
    font-size: 1.125rem;
    font-weight: 500;
  }

  & h6 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.25em;
  }

  & blockquote {
    font-size: $font-size-base;
    padding-bottom: 0;
    padding-top: 0;
  }

  & blockquote p {
    margin: 25px 0;
  }

  & p,
  & ul {
    margin: 0 0 25px 0;
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  & li {
    line-height: 1.7;
  }

  & p.alert {
    margin-top: 0;
  }

  & p.small {
    font-size: $font-size-small;
  }

  & ul.brand-logos {
    padding: 0;

    & li {
      box-shadow: 0 0 3px #ccc;
      display: inline-block;
      margin: 0 6px 20px 0;
      padding: 0;
    }

    & img {
      max-width: 105px;
    }
  }

  & p.small-images {

    & a {
      text-decoration: none;
    }

    & img {
      max-width: 35px;
    }
  }
}

@include media-breakpoint-up(md) {

  #main-page {

    & .side-nav {
      bottom: auto;
      height: 100%;
      position: sticky;
      top: 10px;
      width: 22%;
    }

    & .post-content-wrapper {
      border-left: $border;
      padding: 30px 40px;
      width: 78%;
    }

    & ul.anchor-links {
      font-size: $font-size-base;
      padding-top: 15px;
    }

	  & ul.anchor-links li {
			display: block;
      line-height: 1.3;
      margin-bottom: 12px;
    }

	  & ul.anchor-links li::after {
			content: none;
		}
	}
}

/* link lists */

#main-page ul.link-list {
  color: $gray-light;
  columns: 2 auto;
  column-gap: 50px;
  margin: 25px 0 60px 0;
  max-width: none;
  padding: 0;

  & li {
    break-inside: avoid-column;
    page-break-inside: avoid;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 15px 0;
  }

  & li span {
    color: $gray-base;
    display: block;
    line-height: 1.6;
    margin: 2px 0 25px 0;
  }

  & a {
    font-weight: bold;
    text-decoration: none;
  }
}
