.media-player-container {
  border-bottom: $border;
  overflow: hidden;
  padding: 10px;
}

.mejs__container,
.mejs__container * {
  max-width: 100%;
}

.embed-link {
  float: right;
}

.embed-code {
  border: $border;
  border-radius: 3px;
  border-width: 3px;
  padding: 10px;
  width: 100%;
}
