.vjs-control-bar {
  padding-right: 5.5em;
}

.vjs-logo {
  bottom: 0px;
  display: block;
  height: 3em;
  padding: .86em;
  position: absolute;
  right: 0px;
}

.vjs-logo:hover {
  cursor: pointer;
}

.vjs-logo img {
  height: 100%;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}
