<div>Dear Academic Commons Depositor,</div>

<br/>

<% if @optional_note.to_s.length > 0 %>
  <div>
    <%= simple_format @optional_note %>
  </div>
  <br/>
<% end %>

<div>
  Here are the updated monthly and lifetime use statistics for your deposits to
  <%= link_to "Academic Commons", root_url %>,
  the digital repository of Columbia University and its affiliates.
</div>

<%= render partial: "monthly_stats", locals: { lifetime: true } %>

<%= render partial: "monthly_footer" %>
