<%# We need to include styles within the email template (vite cannot serve assets to action_mailer). premailer-rails will make them inline %>

<style>
    .stats-table td, .stats-table th {
    padding: 0px 10px 0px;
    text-align: left;
    }

    ul.two-col {
    padding: 0;
    }

    ul.two-col li {
    list-style: none;
}
</style>

<%= simple_format @body %>

<br/>

<h3>Academic Commons Usage Statistics Report</h3>

<% stats_presenter = UsageStatisticsPresenter.new(@usage_stats, @stats_display, self) %>

<%= stats_presenter.render_details_table %>

<%= stats_presenter.render_html_table(table_class: 'stats-table') %>