- resource_list = build_resource_list(document)

  %h3 Downloads:

  - if resource_list.length > 0

  #show_resources
    - resource_list.each_with_index do |resource, i|
      .resource{:class => "spot" + (i%3).to_s}
        .thumbnail= link_to image_tag("thumbnail_icons/" + thumbnail_for_resource(resource)), resource[:download_path] if resource[:download_path]
        .title= link_to auto_add_empty_spaces(resource[:filename]).html_safe, resource[:download_path] if resource[:download_path]

  - else

  .content <em>Downloadable resources are currently unavailable for this item.</em>