<a class="skip-link sr-only sr-only-focusable" href="#content">
  Skip to main content
</a>

<div class="cul-banner">
  <div class="<%= container_classes %>">
    <a href="http://library.columbia.edu" class="cul-banner-logo">
      <span>Columbia University Libraries</span>
    </a>
  </div>
</div>
