<%#
  Overriding empty blacklight v16.14.1 template.
%>

<p>
  <a href="http://library.columbia.edu" target="_blank rel="noopener noreferrer">Columbia University Libraries</a>  |
  <%= link_to t('blacklight.header_links.policies'), policies_path %> |
  <%= link_to t('blacklight.header_links.faq'), faq_path %>
</p>
