<div>
  <b>Name:</b> <%= @deposit.name %>
</div>

<hr>

<div><b>Title:</b></div>
<div><%= @deposit.title %></div>

<hr>

<div><b>Creators:</b></div>
<div><%= @deposit.creators %></div>

<hr>

<div><b>Record in Hyacinth:</b></div>
<div>Link soon.</div>
