<p>Oops! A problem came up in Academic Commons.</p>

<p>Environment = <%= Rails.env %></p>
<p>Version = <%= AcademicCommons.version %></p>
<p>Timestamp = <%= Time.current.rfc822 %></p>

<p><%= @message %></p>
