development:
    url: http://localhost:8984/solr
test:
    url: http://localhost:8984/solr
passenger_dev:
    url: ***REMOVED***
passenger_test:
    url: ***REMOVED***
passenger_prod:
    url: ***REMOVED***