 $screen-sm: 768px;
 $screen-md: 992px;
 $font-size-small: 1rem * .875;
 $screen-xs: 768px;
 $screen-lg: 1200px;
 
 @import '../stylesheets/modules/bootstrap-variables';

  @import '../stylesheets/modules/variables';

  @import 'bootstrap';

  @import '~bootstrap/scss/bootstrap';
 
 @import 'blacklight-frontend/app/assets/stylesheets/blacklight/blacklight_base';

//  @import '../stylesheets/vendor/blacklight_range_limit';

  @import '../stylesheets/modules/mixins';

  @import '../stylesheets/modules/animation';

  @import '../stylesheets/global';

 @import '../stylesheets/partials/admin';

 @import '../stylesheets/partials/alert-box';

 @import '../stylesheets/partials/cul-banner';

 @import '../stylesheets/partials/dashboard';

 @import '../stylesheets/partials/facets-sidenav';

 @import '../stylesheets/partials/featured-searches';

 @import '../stylesheets/partials/footer';

 @import '../stylesheets/partials/forms';

 @import '../stylesheets/partials/header';

 @import '../stylesheets/partials/homepage';

 @import '../stylesheets/partials/item-page';

 @import '../stylesheets/partials/item-page-sidebar';

 @import '../stylesheets/partials/main-page';

 @import '../stylesheets/partials/menu';

 @import '../stylesheets/partials/search-results';
 
// @import 'social-share-button';

 @import '../stylesheets/partials/social-button';

 @import '../stylesheets/partials/tables';

 @import 'dropzone/dist/dropzone';

@import '../stylesheets/partials/file-upload';

 @import 'datatables.net-bs/css/dataTables.bootstrap.min';

 @import '../stylesheets/partials/media-player';

 @import '../stylesheets/partials/media-player-branding';

 $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

