<div id="search-breadcrumb" >

  

	<%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
	
 
 <div id="breadcrumbs">
  <ul class="breadcrumb query">
     <h3>Showing Results for:</h3>
		<%- if (!localized_params[:q].blank?) -%>
		<%=render_constraint_element(search_field_label(localized_params),
            localized_params[:q], 
            :classes => ["query"], 
            :remove => catalog_index_path(localized_params.merge(:q=>nil, :action=>'index')))%>

			<%- else%>
			<%= render_constraint_element(nil, "No Keywords", :classes => ["query"], :check => false)%> 
				<%- end -%>
          	              
 </ul>
 
 <br style="clear:both">
    
 <ul class="breadcrumb facet">
    <h3>Limited to:</h3>
		<%- if !localized_params[:f].to_s.empty? -%>
		<%-  localized_params[:f].each_pair do |facet,values| %>
		<%-    values.each do |val| %>
		<%= render_constraint_element( facet_field_labels[facet],val, :remove => catalog_index_path(remove_facet_params(facet, val, localized_params)),:classes => ["filter"] )%> 
			<%- end -%>
			
</ul>
 	<%- end -%>
 
      <%- else -%>
        <ul>
          <li>
            Showing all search results.
          </li>
        </ul>
      <%- end -%>
       <br style="clear:both">
      </div>
</div>

