<h3 class="span-16 last append-bottom" style="text-align:center">Academic Commons Content by School or Department</h3>

<div class="span-4 school-top append-bottom">Columbia University</div>

<div class="span-4 school-top">Barnard College</div>

<div class="span-4 school-top">Teacher's College</div>

<div class="span-4 last school-top">Union Theological Society</div>

<ul class="span-7 prepend-1 append-1 border">

  <% get_departments_list.each do |v| %>
  <li>
     <a href="departments/<%= v[:name] %>"><%= v[:name] %></a> (  <%= v[:count] %> ) 
   
  </li>
  <% end %>
 
<!--



<li> <a href=#>Anthropology										</a>	(<a href=#>25</a>)</li> 
<li> <a href=#>Astronomy 										</a>  	(<a href=#>13</a>)</li> 
<li> <a href=#>Barnard College 									</a>    (<a href=#>1 </a>)</li> 
<li> <a href=#>Center for Global and Sustainable Development 	</a>  	(<a href=#>11</a>)</li> 
<li> <a href=#>Center for New Media Teaching and Learning 		</a>  	(<a href=#>2 </a>)</li> 
<li> <a href=#>Classics 										</a>  	(<a href=#>23</a>)</li> 
<li> <a href=#>College of Dental Medicine 						</a>  	(<a href=#>2 </a>)</li> 
<li> <a href=#>Computer Science 								</a>  	(<a href=#>45</a>)</li> 
<li> <a href=#>Earth Institute 									</a>    (<a href=#>59</a>)</li> 
<li> <a href=#>Economics 										</a>  	(<a href=#>32</a>)</li> 
<li> <a href=#>Economics, Barnard College 						</a>  	(<a href=#>2 </a>)</li> 
<li> <a href=#>French and Romance Philology 					</a>  	(<a href=#>19</a>)</li> 
<li> <a href=#>Film Studies 									</a>  	(<a href=#>10</a>)</li>
</ul>
<ul class="span-7 last">
<li> <a href=#>Lamont-Doherty Earth Observatory &#8211; Geochemistry	</a>  	(<a href=#>17</a>)</li> 
<li> <a href=#>Latin American and Iberian Cultures 				</a>    (<a href=#>4 </a>)</li> 
<li> <a href=#>Libraries Digital Programs Division 				</a>    (<a href=#>25</a>)</li> 
<li> <a href=#>Mathematics 										</a>    (<a href=#>1 </a>)</li> 
<li> <a href=#>Microbiology 									</a>  	(<a href=#>10</a>)</li> 
<li> <a href=#>Neurology 										</a>  	(<a href=#>7 </a>)</li> 
<li> <a href=#>Philosophy 										</a>  	(<a href=#>2 </a>)</li> 
<li> <a href=#>School of the Arts 								</a>  	(<a href=#>2 </a>)</li> 
<li> <a href=#>School of Social Work 							</a>  	(<a href=#>82</a>)</li> 
<li> <a href=#>Spanish and Portuguese 							</a>  	(<a href=#>12</a>)</li> 
<li> <a href=#>Sociology 										</a>  	(<a href=#>8 </a>)</li> 
<li> <a href=#>Statistics 										</a>  	(<a href=#>23</a>)</li> 
<li> <a href=#>Urban Policy Center 								</a>    (<a href=#>18</a>)</li>

-->
</ul>
 