<div class="document">
      
	<% # header bar for doc items in index view -%>
    <div class="documentHeader">
 		<div class="documentFunctions">
 			<% # bookmark/folder functions for items/docs -%>
        	<%#=render_index_doc_actions document %>
 		</div>
 		<h3 class="index_title"><span class="index_counter"><%= document_counter + 1 + @response.params[:start].to_i %></span> <%= link_to_document document, :label=>document_show_link_field, :counter => (document_counter + 1 + @response.params[:start].to_i) %></h3>
	</div>
      
    <%= render_document_partial document, :index %>

</div>