<label for="doi" class="doi-label">DOI</label>
<input type="text" id="doi" value="<%= @document.full_doi %>" readonly>
<button class="btn copy-to-clipboard" type="button" data-clipboard-target="#doi" aria-label="Copy DOI to clipboard">
  <i class="fas fa-paste" title="Copy DOI to clipboard" aria-hidden="true"></i>
  <span class="visually-hidden">Copy DOI to clipboard</span>
</button>
