<%= render partial: 'download_button' %>

<div class="doi-container">
  <h4 class="doi-label">DOI</h4>
  <div class="doi-and-copy-button">
    <textarea rows="1" readonly onclick="this.focus();this.select()" id="doi"><%= @document.full_doi %></textarea>
    <button class="btn copy-to-clipboard" type="button" data-clipboard-target="#doi">
      <i class="fas fa-paste" title="Copy DOI"></i>
    </button>
  </div>
</div>
