<% assets = @document.assets %>

<% if @document.restricted? %>
  <p><em><%= @document.access_restriction %></em></p>
<% elsif @document.embargoed? %>
  <p><em><%= t('blacklight.search.show.assets.embargoed', date: @document[:free_to_read_start_date_ssi]) %></em></p>
<% elsif assets.count == 1 %>
  <%= link_to t('blacklight.tools.download_button'), assets.first.download_path, class: 'btn btn-primary download-button' %>
<% else %>
  <a href="#assets-panel" class="btn btn-primary download-button scroll"><%= t('blacklight.tools.download_button') %></a>
<% end %>
