<ul class="download-box">
  <li class="download-button-box">
    <%= render partial: 'download_button' %>
  </li>
  <li class="permanent-link">
    <h4>DOI</h4>
    <textarea rows="1" readonly onclick="this.focus();this.select()">
      <%= @document.full_doi %>
    </textarea>
  </li>
</ul>
