<%= render partial: 'download_button' %>

<div class="doi-container">
  <h4 class="doi-label">DOI</h4>
  <div class="doi-and-copy-button">
    <input readonly onclick="this.focus();this.select()" id="doi" type="text" value="<%= @document.full_doi %>">
    <button class="btn" type="button" data-clipboard-target="#doi">
      <i class="glyphicon glyphicon-copy"></i>
    </button>
  </div>
</div>
