<%#
  Blacklight v5.19.2 template override.
  Removing blacklight.search.facets.title, "Limit your Search," and toggle
  facets button.
%>

<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">
  <div id="facet-panel-collapse" class="collapse panel-group">
    <%= render_facet_partials %>
  </div>
</div>
<% end %>
