<a class='nav-link' href="<%= relative_root %>/deposit">Deposit your research</a>

<a class='nav-link' href="http://cdrs.columbia.edu/academiccommons/">About Academic Commons</a>
 
<a class='nav-link' href="http://support.academiccommons.columbia.edu/">FAQ/Help</a>