<% if block = ContentBlock.find_by_title("Home Page") -%>
  <%= sanitize block.data %>
<% else -%>
    
  <h3>Welcome to Academic Commons</h3>


  <p>Please begin by browsing via the facets on the left, or searching the entire repository above.</p>
<% end -%>
