<a class='nav-link' href="/deposit">Deposit your research</a>

<a class='nav-link' href="/about/">About Academic Commons</a>

<a class='nav-link' href="javascript:UserVoice.showPopupWidget();" >FAQ/Ask a Question</a>
