<div id="home-content" class="span-24 clearfix ">	  

<%= image_tag("istockphoto_14830266-the-butler-library-of-columbia-university.png", :style => "float:left", :alt => "istockphoto_14830266-the-butler-library-of-columbia-university", :height => "150") %>
<div id="home-content-center"  >
<em>Academic Commons</em> is Columbia University's digital repository where faculty, students, and staff of Columbia and its affiliate institutions can deposit the results of their scholarly work and research. Content in Academic Commons is freely available to the public.
</div>	
 	
<%= image_tag("binary-code-horiz-cropped.png", :style => "float:right", :height => "150") %>

</div>
