%h3 
  Welcome to Academic Commons


%p
  Please begin by browsing via the facets on the left, or searching the entire repository above

%h4
  Deposit

%p 
  Current faculty, staff, and students are invited to deposit research materials that are already in a digital format, including: articles, monographs, working papers, conference papers, images, datasets, multimedia creations, technical reports, preprints, software code, and theses.

%h4 Learn More About Deposit

%p
  To learn more about how to deposit your work into Academic Commons, please email
  = mail_to("sholsted@columbia.edu", "Sarah Holsted, Digital Repository Coordinator", :encode => :javascript)

%h4 Learn More About Statistics

%p
  To learn more about how we collect and use statistics please click
  = link_to "here", {:controller => "welcome", :action => "statistics"} 
