<div id="home-content" class="span-24 clearfix">	  
	<div class="box">
	<strong>Academic Commons</strong> is Columbia University's online repository where current faculty, students, and staff can deposit the results of their scholarly work and research. Most content in Academic Commons is freely available to the public. 
	</div>
</div>