<a class='nav-link' href="<%= relative_root %>/deposit">Deposit your research</a>

<a class='nav-link' href="http://academiccommons.columbia.edu/about/">About Academic Commons</a>
 
<a class='nav-link' href="javascript:UserVoice.showPopupWidget();" >FAQ/Ask a Question</a> 