<div id="home-content" class="span-24 clearfix ">	  
	 
	 
	
	<img  style="float:left" src="/images/istockphoto_14830266-the-butler-library-of-columbia-university.png" alt="istockphoto_14830266-the-butler-library-of-columbia-university"   height="150" /> <div id="home-content-center"  >

<em>Academic Commons</em> is Columbia University's online repository where current faculty, students, and staff of Columbia and its affiliate institutions can deposit the results of their scholarly work and research. Content in Academic Commons is freely available to the public.
</div>	
 	
 

<img style="float:right" src="/images/binary-code-horiz-cropped.png" alt="binary-code-horiz-cropped"  height="150" />  

 
 	
</div>
 	 
 