<% thumbnail ||= false %>

<div>
  <% if thumbnail %>
    <img src="<%= doc_object_method(document,'/ldpd:sdef.Image/getThumbnail') %>">
  <% end %>

  <dl class="defList">
    <% index_fields(document).each do |solr_fname, field| -%>
      <% if should_render_show_field? document, field %>
        <dt><%= render_index_field_label document, field: solr_fname %></dt>
        <dd><%= render_index_field_value document, field: solr_fname %></dd>
      <% end %>
    <% end %>
  </dl>
</div>

<br style="clear:both" />
