<% results = build_recent_updated_list() %>
<dl>
<h3>Recently Updated</h3>
<% results.each do |v| %>
    <dt> </dt>
    <dd<%= link_to v[:title_display], catalog_index_path+"/"+v[:id] %></dd>
	<% end -%>
</dl>

