<ul id="recently-updated">
  
  <div class="home-recent first">New in Academic Commons:</div>
  
  <% build_recent_updated_list.each do |recent_item| %>
  
    <li class="home-recent">
      <%= link_to recent_item[:title_display], :controller=>"catalog", :action=>recent_item[:id] %>
      <p class="caption">
        <% num_authors = 0 %>
        <% recent_item[:author_facet].each do |author| %>
          <% break if(num_authors == 2) %>
          <% if(num_authors > 0) %><%= "<br>" %><% end %>
          <a href="?f[author_facet][]=<%= author %>"><%= author %></a>
          <% num_authors += 1 %>
        <% end %>
     </p>
    </li>
    
  <% end %>
  
</ul>