<% cache("most_recently_updated" , :expires_in => 10.seconds) do %>
 
    
    


  <h3>Recently Updated</h3>
  <% build_recent_updated_list.each do |v| %>
  <dl>
    <dt><%= v[:authors_display] %></dt> 
    <dd><%= v[:title_display] %></dd> 
  </dl>
  <% end %>
<% end %>
