<%# cache("most_recently_updated" , :expires_in => 10.seconds) do %>
 
    
    


  <h3 class='alt'>New Knowlege in Academic Commons:</h3>
  <%# build_recent_updated_list.each do |v| %>
  <dl>
    <dt><%#= v[:authors_display] %></dt> 
    <dd><%#= v[:title_display] %></dd> 
  </dl>
  <%# end %>
<%# end %>


<!-- begin boilerplate for UI development -->

    <div class="clearfix">
<dl id="recently-updated">
  
  
  
          

        <dd class="home-recent">
      
                    
         
          
          <a href="/catalog/ac:123182" class="a-global-compact-to-end-poverty-jeffrey-sachs-on-stabilisation-transition-and-weapons-of-mass-salvation-world-economics" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '1'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">A Global Compact to End Poverty: Jeffrey Sachs on Stabilisation, Transition and Weapons of Mass Salvation World Economics</a>
          
        
        
      </dd><dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </dt>
      
           


           
    
  

        <dd class="home-recent">
      
                     
         
           <a href="/catalog/ac:123734" class="trends-in-inter-state-inequalities-of-income-in-india-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '2'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Trends in Inter-State Inequalities of Income in India Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
        
      </dd><dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Bhagwati%2C+Jagdish" >Bhagwati, Jagdish</a>           
              </dt>

      
             


     
  

        <dd class="home-recent">
      
                    
         
           <a href="/catalog/ac:123731" class="international-trade-and-wage-inequality-in-the-united-states-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '3'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">International Trade and Wage Inequality in the United States Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
      
      
            
   


    </dd>
    
      <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Freedberg%2C+David" >Freedberg, David</a>           
              </dt>

    
    
    
           
    
  

        <dd class="home-recent">
      
                   
        
         
            <a href="/catalog/ac:124047" class="how-to-catch-up-with-the-industrial-worldachieving-rapid-growth-in-europe-s-transition-economies" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '4'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">How to Catch Up with the Industrial World&#8212;Achieving Rapid Growth in Europe's Transition Economies</a>
        
        
       


    </dd>
    
       <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Smith%2C+Raymond" >Smith, Raymond</a>           
              </dt>

    
        

        <dd class="home-recent">
      
                    
        
         
           <a href="/catalog/ac:123728" class="eu-membership-for-central-europe-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '5'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">EU Membership for Central Europe Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
        
     


    </dd>
    
     <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Gelman%2C+Andrew" >Gelman, Andrew</a>           
              </dt>
    

        

        <dd class="home-recent">
      
                    
         
           <a href="/catalog/ac:123725" class="natural-resource-abundance-and-economic-growth-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '6'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Natural Resource Abundance and Economic Growth Working Paper Series (National Bureau of Economic Research)</a>
        
      


    </dd>
        <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </dt>

  

        <dd class="home-recent">
      
                    
            <a href="/catalog/ac:123933" class="trends-in-regional-inequality-in-china-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '7'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Trends in Regional Inequality in China Working Paper Series (National Bureau of Economic Research)</a>
      


    </dd>
    
    <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </dt>
<br style="clear:both">
        <dd class="home-recent">
               
         
          <a href="/catalog/ac:123722" class="the-big-push-natural-resource-booms-and-growth" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '8'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">The Big Push, Natural Resource Booms and Growth</a>
        
        <br style="clear:both">
   


    </dd>
    
        <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Stolfo%2C+Salvatore+J." >Stolfo, Salvatore J.</a>           
              </dt>
    

        <dd class="home-recent">
      
                 
        
         
           <a href="/catalog/ac:123752" class="foreign-direct-investment-in-india-issues-and-problems-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '9'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Foreign Direct Investment in India: Issues and Problems Development Discussion Papers (Harvard University. Institute for International Development)</a>
         


    </dd>
    
    
    
    
      <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Crane%2C+Susan" >Crane, Susan</a>           
              </dt>
  

        <dd class="home-recent">
      
                  
         
           <a href="/catalog/ac:123755" class="input-price-shocks-and-the-slowdown-in-economic-growth-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '10'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Input Price Shocks and the Slowdown in Economic Growth Working Paper Series (National Bureau of Economic Research)</a>
         </dd>



    </dd>  <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Suess, Doctor</a>           
              </dt>


    
 <!--
  
        <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Bajpai%2C+Nirupam" >Bajpai, Nirupam</a>           
              </dt>
    

        <dd class="home-recent">
      
                  
         
           <a href="/catalog/ac:123740" class="understanding-china-s-economic-performance-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '11'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Understanding China's Economic Performance Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
         


    </dd>
    
        <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Bhagwati%2C+Jagdish+N." >Bhagwati, Jagdish N.</a>           
              </dt>
    

        <dd class="home-recent">
               
         
           <a href="/catalog/ac:124122" class="meeting-the-hunger-millennium-development-goal" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '12'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Meeting the Hunger Millennium Development Goal</a>
        
         


    </dd>
    
  
      <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Turro%2C+Nicholas+J." >Turro, Nicholas J.</a>           
              </dt>
    

        <dd class="home-recent">
               
         
           <a href="/catalog/ac:123758" class="the-asian-financial-crisis-working-papers-william-davidson-institute" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '13'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">The Asian Financial Crisis Working Papers (William Davidson Institute)</a>
        
         


    </dd>
    
    
    
   <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Keromytis%2C+Angelos+D." >Keromytis, Angelos D.</a>           
              </dt>

        <dd class="home-recent">
      
                    
           <a href="/catalog/ac:123749" class="the-progress-of-policy-reform-and-variations-in-performance-at-the-sub-national-level-in-india-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '14'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">The Progress of Policy Reform and Variations in Performance at the Sub-National Level in India Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
         


    </dd>
    
       <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Jockusch%2C+Steffen" >Jockusch, Steffen</a>           
              </dt>
    

        <dd class="home-recent">
      
              
        
         
          <a href="/catalog/ac:123743" class="economic-reforms-in-china-and-india-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '15'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Economic Reforms in China and India Development Discussion Papers (Harvard University. Institute for International Development)</a>
         


    </dd>
    
  
 <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Kennison%2C+Rebecca" >Kennison, Rebecca</a>           
              </dt>
    

        <dd class="home-recent">
                
          <a href="/catalog/ac:123746" class="the-state-of-state-government-finances-in-india-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '16'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">The State of State Government Finances in India Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
         


    </dd>
    
   <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Wang%2C+Ke" >Wang, Ke</a>           
              </dt>

        <dd class="home-recent">
      
                     <a href="/catalog/ac:123719" class="natural-resource-abundance-and-economic-growth-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '17'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Natural Resource Abundance and Economic Growth Development Discussion Papers (Harvard University. Institute for International Development)</a>
         


    </dd>
    
      <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Cretu%2C+Gabriela+F." >Cretu, Gabriela F.</a>           
              </dt>

        <dd class="home-recent">
      
                    
         
           <a href="/catalog/ac:123713" class="understanding-regional-economic-growth-in-india-working-papers-harvard-university-center-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '18'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Understanding Regional Economic Growth in India Working Papers (Harvard University. Center for International Development)</a>
        
         


    </dd>
    
    <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Locasto%2C+Michael+E." >Locasto, Michael E.</a>           
              </dt>

        <dd class="home-recent">
      
                  
        
         
           <a href="/catalog/ac:123707" class="geography-economic-policy-and-regional-development-in-china-working-papers-harvard-university-center-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '19'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Geography, Economic Policy and Regional Development in China Working Papers (Harvard University. Center for International Development)</a>
         


    </dd>
    
   <dt>
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Neal%2C+James+G." >Neal, James G.</a>           
              </dt>

        <dd class="home-recent">
      
                    
            <a href="/catalog/ac:123803" class="reaching-the-millennium-development-goals-in-south-asia-working-papers-columbia-university-center-on-globalization-and-sustainable-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '20'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Reaching the Millennium Development Goals in South Asia Working Papers (Columbia University. Center on Globalization and Sustainable Development)</a>
        
    


    </dd>
-->
    
  
</dl> 

</div>

<!-- end dev boilerplate code -->
