<%# cache("most_recently_updated" , :expires_in => 10.seconds) do %>
 
    
    


  <h3 class='alt'>New Knowledge in Academic Commons:</h3>
  <%# build_recent_updated_list.each do |v| %>
  <dl>
    <dt><%#= v[:authors_display] %></dt> 
    <dd><%#= v[:title_display] %></dd> 
  </dl>
  <%# end %>
<%# end %>


<!-- begin boilerplate for UI development -->

 
<ul id="recently-updated">
  
  
  
          

        <li class="home-recent">
      
                    
         
          
          <a href="/catalog/ac:123182" class="a-global-compact-to-end-poverty-jeffrey-sachs-on-stabilisation-transition-and-weapons-of-mass-salvation-world-economics" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '1'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">A Global Compact to End Poverty: Jeffrey Sachs on Stabilisation, Transition and Weapons of Mass Salvation World Economics</a>
          
        
        
      <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </p> </li>
      
           


           
    
  

        <li class="home-recent">
      
                     
         
           <a href="/catalog/ac:123734" class="trends-in-inter-state-inequalities-of-income-in-india-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '2'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Trends in Inter-State Inequalities of Income in India Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
        
      <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Bhagwati%2C+Jagdish" >Bhagwati, Jagdish</a>           
              </p> </li>

      
             


     
  

        <li class="home-recent">
      
                    
         
           <a href="/catalog/ac:123731" class="international-trade-and-wage-inequality-in-the-united-states-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '3'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">International Trade and Wage Inequality in the United States Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
      
      
            
   


    
    
      <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Freedberg%2C+David" >Freedberg, David</a>           
              </p> </li>

    
    
    
           
    
  

        <li class="home-recent">
      
                   
        
         
            <a href="/catalog/ac:124047" class="how-to-catch-up-with-the-industrial-worldachieving-rapid-growth-in-europe-s-transition-economies" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '4'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">How to Catch Up with the Industrial World&#8212;Achieving Rapid Growth in Europe's Transition Economies</a>
        
        
       


    
    
       <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Smith%2C+Raymond" >Smith, Raymond</a>           
              </p> </li>

    
        

        <li class="home-recent">
      
                    
        
         
           <a href="/catalog/ac:123728" class="eu-membership-for-central-europe-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '5'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">EU Membership for Central Europe Development Discussion Papers (Harvard University. Institute for International Development)</a>
        
        
     


    
    
     <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Gelman%2C+Andrew" >Gelman, Andrew</a>           
              </p> </li>
    

        

        <li class="home-recent">
      
                    
         
           <a href="/catalog/ac:123725" class="natural-resource-abundance-and-economic-growth-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '6'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Natural Resource Abundance and Economic Growth Working Paper Series (National Bureau of Economic Research)</a>
        
      


    
        <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </p> </li>

  

        <li class="home-recent">
      
                    
            <a href="/catalog/ac:123933" class="trends-in-regional-inequality-in-china-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '7'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Trends in Regional Inequality in China Working Paper Series (National Bureau of Economic Research)</a>
      


    
    
    <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Sachs, Jeffrey D.</a>           
              </p> </li>
 
        <li class="home-recent">
               
         
          <a href="/catalog/ac:123722" class="the-big-push-natural-resource-booms-and-growth" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '8'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">The Big Push, Natural Resource Booms and Growth</a>
        
        <br style="clear:both">
   


    
    
        <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Stolfo%2C+Salvatore+J." >Stolfo, Salvatore J.</a>           
              </p> </li>
    

        <li class="home-recent">
      
                 
        
         
           <a href="/catalog/ac:123752" class="foreign-direct-investment-in-india-issues-and-problems-development-discussion-papers-harvard-university-institute-for-international-development" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '9'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Foreign Direct Investment in India: Issues and Problems Development Discussion Papers (Harvard University. Institute for International Development)</a>
         


    
    
    
    
    
      <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Crane%2C+Susan" >Crane, Susan</a>           
              </p> </li>
  

        <li class="home-recent">
      
                  
         
           <a href="/catalog/ac:123755" class="input-price-shocks-and-the-slowdown-in-economic-growth-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '10'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Input Price Shocks and the Slowdown in Economic Growth Working Paper Series (National Bureau of Economic Research)</a>
         



 <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Lorem Ipsum</a>           
              </p> </li>


        <li class="home-recent">
      
                  
         
           <a href="/catalog/ac:123755" class="input-price-shocks-and-the-slowdown-in-economic-growth-working-paper-series-national-bureau-of-economic-research" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;if(event.metaKey || event.ctrlKey){f.target = '_blank';};var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'results_view'); d.setAttribute('value', ''); f.appendChild(d);var d = document.createElement('input'); d.setAttribute('type', 'hidden'); d.setAttribute('name', 'counter'); d.setAttribute('value', '10'); f.appendChild(d);var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'put'); f.appendChild(m);var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', 'lXGchBEOCzqb2hiFoVcOAkK36D0VPkHg8oAxzpn0TE4='); f.appendChild(s);f.submit();return false;">Input Price Shocks and the Slowdown in Economic Growth Working Paper Series (National Bureau of Economic Research)</a>
         



 <P class="caption">
                      
          <a href="/?f%5Bauthor_facet%5D%5B%5D=Sachs%2C+Jeffrey+D." >Lorem Ipsum</a>           
              </p> </li>

    

  
</dl> 

 

<!-- end dev boilerplate code -->
