<% results = build_recent_updated_list() %>
<div>
<dl class="solrQuery">
<h3>Recently Updated</h3>
<% results.each do |v| %>
    <dd><%= v[:authors_display] %> -  <%= link_to v[:title_display], catalog_index_path+"/"+v[:id] %></dd>
    <dd>&nbsp;</dd>
<% end -%>
</dl>
</div>