<ul id="recently-updated">

  <div class="home-recent first">New in Academic Commons:</div>

  <% build_recent_updated_list.each do |recent_item| %>

    <li class="home-recent">
      <%= link_to recent_item[:title_ssi], solr_document_path(recent_item[:id]) %>
      <p class="caption">
        <% num_authors = 0 %>
        <% recent_item[:author_facet].each do |author| %>
          <% if(num_authors == 2)%>et al.<% end %>
          <% break if(num_authors == 2) %>
          <% if(num_authors > 0) %><%= "<br>".html_safe %><% end %>
          <a href="?f[author_facet][]=<%= url_encode_resource(author) %>"><%= author %></a>
          <% num_authors += 1 %>
        <% end %>
     </p>
    </li>

  <% end %>

</ul>
