<div class="pagination-wrapper">


<div id="pagination" class="clearfix">

<% if paginate_params(@response).num_pages > 1 %>
      <%= paginate_rsolr_response @response, :outer_window => 2, :theme => 'blacklight' %>
<% end %>

</div>
</div>