<%#
  Overriding Blacklight v7.2.0 template.
  - removes card heading

%>
<% if show_doc_actions? %>
  <div class="card show-tools">
    <ul class="list-group list-group-flush">
      <%= render_show_doc_actions @document do |config, inner| %>
        <li class="list-group-item <%= config.key %>">
          <%= inner %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
