<% related_items = document.related_items %>

<% if related_items.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= t('blacklight.search.show.panels.related_items') %></h2>
    </div>
    <div class="panel-body">
      <dl>
        <% related_items.each do |related_item| -%>
          <dt><%= related_item[:relation_type].sub('isNewVersionOf', 'Previous version').sub('isPreviousVersionOf', 'Subsequent version').remove(/^is/).underscore.gsub('_', ' ').upcase_first.concat(':') %></dt>
          <dd><%= link_to related_item[:title], related_item[:link], target: '_blank' %></dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
