<a class="twitter-button" href="https://twitter.com/intent/tweet?text=<%= @document.full_doi %>"><i class="fab fa-twitter-square"></i></a>

<a class="facebook-button" href="https://www.facebook.com/sharer/sharer.php?u=<%= @document.full_doi %>"><i class="fab fa-facebook-square"></i></a>

<a class="email-button" href="mailto:?subject=<%= @document.title %>&body=<%= @document.full_doi %>"><i class="fas fa-envelope-square"></i></a>
