<div id="facet_outer">
  <div class="facet_pagination top">
    <%= render :partial=>'facet_pagination' %>
  </div>

  <h3 id="facet_title"><%= facet_field_label(params[:id]) %></h3>

  <ul class="facet_extended_list">
    <% @pagination.items.each do |item| %>
      <li>
        <%= render_facet_item params[:id], item %>
      </li>
    <% end %>
  </ul>

  <div class="facet_pagination bottom">
    <%= render :partial=>'facet_pagination' %>
  </div>
</div>
