<% @page_title = "#{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>
<% extra_head_content << stylesheet_link_tag( 'jquery.fancybox', :media => 'screen, projection' )   %>
<% extra_head_content << javascript_include_tag('fancyBox/source/jquery.fancybox.pack.js') %>
<% extra_head_content << javascript_include_tag('fancyBox/source/helpers/jquery.fancybox-media.js') %>
<% extra_head_content << javascript_include_tag('about-videos.js') %>
 
<% sidebar_items << capture do %>
<%= render :partial=>'application/browse_content' %>
<%= render :partial=>'application/helpful_links' %>
<%#= render :partial=>'related_content' %>
<% end %>


This item has been removed from Academic Commons. It may have been removed:<p/><p/>
- at the request of author or copyright holder (if other than the author).<br/>
- at the request of the originating department.<p/><p/>
For more information about this item, contact Academic Commons administrators at: <a href='mailto:cuac@libraries.cul.columbia.edu'>cuac@libraries.cul.columbia.edu</a>.
