/* labels */

@mixin label-plain {
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  display: inline-block;
  color: $gray-base;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 7px;
  text-transform: uppercase;
}

@mixin label-tags {
  color: lighten($gray-light, 15%);
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
