/* box shadow */

$box-shadow: 0 15px 35px rgba(50,50,90,.1), 0 5px 10px rgba(0,0,0,.05);

/* email icon */

svg.icon-email {
  display: inline-block;
  fill: $gray-light;
  height: 100%;
  margin-bottom: -4px;
  max-width: 18px;
}
