<% @page_title = "New Email Preference" %>

<div class="admin-content">
  New Email Preference
  <br/>
  <br/>
  <%= render partial: 'form' %>
  <p>
    <%= link_to "Back to List", admin_email_preferences_path %>
  </p>
</div>
