@import 'partials/media-player-branding';

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.not-playable {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
