/* layout */

@include media-breakpoint-down(sm) {

  .container {
    max-width: 100%;
  }
}

/* color */

body {
  color: $gray-base;
}

/* typography */

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 21px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

a.skip-link {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

a.skip-link:focus,
a.skip-link:active,
a.skip-link:hover {
  background-color: #fff;
  border: 1px dotted #000;
  height:auto;
  left:0;
  overflow:visible;
  padding: 5px;
  position:absolute;
  top:0;
  width:auto;
}

p.summary,
#main-page p.summary {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 15px 0;
  max-width: 700px;
}

p.summary a,
#main-page p.summary a {
  font-weight: 500;
  text-decoration: none;
}

p.summary strong {
  font-weight: 500;
}

@include media-breakpoint-up(md) {

  p.summary,
  #main-page p.summary {
    font-size: 20px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }
}

/* alerts */

#main-flashes {
  margin-top: 10px;
}

.alert a {
  color: $link-color-dark;
  font-weight: bold;
}

/* visually hidden text */

.visually-hidden {
  @include visually-hidden;
}

/* primary button */

.btn-primary {
  background: $link-color;
  font-weight: 500;
}

.btn-primary:hover {
  background: $link-hover-color;
  border-color: $link-hover-color;
}
