/* admin */

.admin-container {
  margin: 0;
}

p.admin-intro-message {
  padding: 100px 0;
  text-align: center;
}

p.admin-intro-message:before {
  content: '\2191';
}

@media screen and (min-width: $screen-sm ) {

  p.admin-intro-message:before {
    content: '\2190';
  }
}

/* admin sidebar */

#main-page #dashboard .admin-sidebar {
  background: $gray-lighter-custom;
  border: 0;
  border-bottom: $border;
  margin: 0 -15px;

  & h3 {
    margin: 9px 15px;
  }

  & h4 {
    font-size: $font-size-small;
    line-height: 1.4;
    margin: 0;
  }

  & ul {
    margin: 6px 0 25px 0;
  }

  & li {
    font-size: $font-size-small;
    line-height: 1.4;
  }

  & li a {
    color: $link-color;
    padding: 3px 0;
    text-decoration: none;
  }

  & li a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: $screen-sm ) {

  #main-page #dashboard .admin-sidebar {
    background: $body-bg;
    border: 0;
    margin: 0;

    & h3 {
      margin-top: 25px;
    }

    & .admin-sidebar-header,
    & ul,
    & li {
      float: none;
    }
  }
}

/* admin content */

#main-page #dashboard .admin-content {
  padding: 0 15px 25px 15px;

  & h2 {
    margin: 15px 0;
  }
}

@media screen and (min-width: $screen-sm ) {

  #main-page #dashboard .admin-content {
    border-bottom: $border;
    border-left: $border;
    margin-bottom: 50px;
    padding: 0 30px 20px 30px;
  }
}
