/* cul banner */

.cul-banner {
  background: $brand-dark;
  padding: 8px 0;
  text-align: center;

  & .cul-banner-logo {
    background: transparent $logo-cul-banner no-repeat top left;
    background-size: contain;
    background-position: left;
    display: inline-block;
    width: 250px;
  }

  & .cul-banner-logo span {
    display: block;
    text-indent: -1000em;
  }
}

@media screen and (min-width: $screen-md ) {

  .cul-banner {
    text-align: left;

    & .cul-banner-logo {
      width: 320px;
    }
  }
}
