/* dashboard top nav */

#main-page #dashboard-nav {
  border-bottom: $border;
  font-size: $font-size-small;
  margin: 30px 0 0 0;
  padding: 0 10px;

  & ul {
    font-weight: bold;
    max-width: none;
  }

  & .nav-tabs {
    border-bottom: 0;
    margin: -30px 0 1px 0;
  }

  & li a {
    border-bottom: $border;
    border-color: transparent;
    color: lighten($gray-light, 10%);
    padding: 8px 5px;
    text-decoration: none;
  }

  & li a:hover {
    background-color: $gray-lighter-custom;
  }

  & li.active a {
    background: transparent;
    color: $gray-base;
    font-weight: bold;
  }

  & li.active a:hover {
    background: transparent;
  }
}

@media screen and (min-width: $screen-sm ) {

  #main-page #dashboard-nav {
    border: 0;
    font-size: $font-size-base;
    margin: 10px 10px 0 10px;

    & .nav-tabs {
      border-bottom: $border;
      margin: 0 0 -1px 0;
    }

    & li a {
      padding: 15px 20px;
    }

    & li a:hover {
      border-bottom: $border;
    }

    & li.active a {
      border: $border;
      border-bottom-color: $body-bg;
    }
  }
}

/* dashboard main-page content */

#main-page #dashboard {
  border: none;
  font-weight: 300;
  line-height: 1.6;
  padding: 15px;

  & h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0;
  }

  & p {
    margin: 0 0 30px 0;
    max-width: none;
  }

  & p.note {
    margin: 0 0 10px 0;
  }

  & table {
    max-width: 100%;
  }
}

@media screen and (min-width: $screen-sm ) {

  #main-page #dashboard {
    border: $border;
    margin: 0 20px 15px 20px;
    padding: 20px;

    & .agreement-message,
    & .checkbox,
    & input[type=text],
    & input[type=number],
    & input[type=file],
    & textarea,
    & select,
    & .creators,
    & p.note,
    & .dropzone,
    & p {
      width: 70%;
    }
  }
}
