/* dashboard top nav */

#main-page #dashboard-nav {
  font-size: 12px;

  & ul {
    font-weight: bold;
    max-width: none;
  }

  & .nav-tabs {
    margin: 0;
  }

  & li a {
    color: lighten($gray-light, 10%);
    padding: 15px 5px;
    text-decoration: none;
  }

  & li a:hover {
    background-color: $gray-lighter-custom;
    border-color: transparent;
    border-bottom: $border;
  }

  & li.active a {
    border: 0;
    color: $gray-base;
    font-weight: bold;
  }

  & li.active a:hover {
    background: $body-bg;
  }
}

@media screen and (min-width: $screen-md ) {

  #main-page #dashboard-nav {
    font-size: 16px;

    & li a {
      padding: 15px 20px;
    }

    & li.active a {
      border: $border;
      border-bottom-color: $body-bg;
    }
  }
}

/* dashboard main-page content */

#main-page #dashboard {
  border: $border;
  border-top: 0;
  font-weight: 300;
  line-height: 1.6;
  padding: 20px;

  & p {
    margin: 0 0 25px 0;
  }

  & .item {
    margin: 0 0 20px 0;
  }

  & .agreement-message {
    background: $gray-lighter-custom;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 25px;
  }

  & input,
  & textarea {
    border: $border;
  }

  & input[type=text],
  & input[type=number],
  & input[type=file],
  & textarea  {
    padding: 5px;
    width: 100%;
  }

  & input[type=file] {
    border-radius: 3px;
    border-style: dashed;
    line-height: 1;
    padding: 25px;
  }

  & input[type=submit] {
    border: 0;
  }

  & .checkbox {
    background: $gray-lighter-custom;
    border-radius: 3px;
    line-height: 1.4;
    padding: 25px;
  }

  & .checkbox h5 {
    margin: 0 0 8px 0;
  }

  & .checkbox input[type=checkbox] {
    line-height: 1.4;
    margin: 3px 5px 0 0;
  }

  & .checkbox label {
    font-weight: 300;
  }

  & textarea {
    min-height: 200px;
    padding: 10px;
  }

  & h3 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 25px 0;
  }

  & .creators {
    margin: 0 0 30px 0;
    width: 100%;
  }

  & #creator-list div {
    display: flex;
  }

  & #creator-list label,
  & #creator-list input {
    flex: 1;
    margin: 0 2px 8px 0;
  }

  & select {
    border: $border;
    height: 30px;
    padding: 5px;
    width: 100%;
  }

  & .field_with_errors {

    & input,
    & select,
    & textarea {
      border: 2px solid red;
    }
  }
}

@media screen and (min-width: $screen-md ) {

  #main-page #dashboard {

    & .agreement-message,
    & .checkbox,
    & input[type=text],
    & input[type=number],
    & input[type=file],
    & textarea,
    & select,
    & .creators {
      width: 70%;
    }
  }
}
