/* facets sidenav */

#facets {
  padding-bottom: 0;

  & h2.facets-heading {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  & h3.facet-field-heading {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }

  & .top-panel-heading {
    border: $border;
    margin: 15px 0 0 0;
    padding-left: 15px;
  }

  & .facet_limit .panel-heading {
    background: $body-bg;
  }

  & .facet_limit-active .panel-heading {
    background: $gray-lighter-custom;
  }

  & .panel-group .panel-heading:hover {
    background-color: $gray-lighter-custom;
  }

  & .facets-toggle {
    margin-right: 0;
  }

  & .panel {
    border: 0;
    border-radius: 0;
    border-bottom: $border;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
  }

  & .panel-heading.collapse-toggle .panel-title:after {
    color: $gray-base;
  }

  & .facet-count {
    width: 3.5em;
  }

  & .remove .glyphicon {
    top: 0.15em;
  }

  & .remove {
    text-indent: 7px;
  }

  & p.subsection {
    font-size: 12px;
  }
}

@media screen and (min-width: $screen-sm ) {

  #facets {

    & h2.facets-heading {
      margin: 18px 0 0 0;
    }

    & .top-panel-heading {
      border: 0;
      border-bottom: $border;
      margin: 0;
    }
  }
}
