#main-page .dropzone {
  border: $border;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  font-size: $font-size-small;
  margin-top: -15px;

  & .dz-message {
    font-size: 18px;
  }

  &.dz-started .dz-message {
    display: block;
  }

  & .dz-waiting-mark i {
    animation: spin 2s infinite linear;
    transform-origin: 50% 58%;
  }

  & .dz-success-mark {
    display: none;
  }

  & .dz-error-mark {
    display: none;
  }

  & .dz-success .dz-success-mark {
    display: inline;
  }

  & .dz-error .dz-error-mark {
    display: inline;
  }

  & .dz-complete .dz-waiting-mark {
    display: none;
  }

  & .dz-message span.link-color {
    color: $link-color;
  }

  & .dz-message span.link-color:hover {
    text-decoration: underline;
  }

  & .dz-success {
    color: #5cb85c;
  }

  & .dz-error {
    color: #d9534f;
  }

  & .dz-success-mark {
    color: #5cb85c;
  }
}

#main-page .dz-drag-hover {
  background: $gray-lighter-custom;
}
