/* footer */

.footer {
  border-top: $border;
  color: $gray-light;
  font-size: $font-size-small;
  line-height: 1.8;
  padding: 15px 0;

  & .footer-links {
    margin: 0 0 10px 0;
    width: 100%;
  }

  & .footer-links a:last-child {
    white-space: nowrap;
  }

  & span {
    margin: 0 3px;
  }

  & .contact {
    text-align: left;
  }
}

/* site description */

.site-description {
  border-top: $border;
  color: $gray-light;
  font-size: $font-size-small;
  line-height: 1.8;
  padding: 15px 0 70px 0;

  & a {
    color: $gray-light;
    text-decoration: underline;
  }

  & a:hover {
    color: $link-hover-color;
  }
}

@media screen and (min-width: $screen-xs ) {

  .footer {

    & .footer-links {
      margin: 0;
      width: 60%;
    }

    & .contact {
      text-align: right;
      width: 40%;
    }
  }
}
