form {

  & h3,
  & h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  & .form-group {
    margin: 30px 0;
  }

  & input::placeholder,
  & textarea::placeholder {
    font-style: italic;
    font-weight: 300;
  }

  & input,
  & textarea {
    border: $border;
    color: $gray-base;
    font-weight: 500;
  }

  & input[type=text],
  & input[type=number],
  & input[type=file],
  & textarea  {
    padding: 5px;
    width: 100%;
  }

  & input[type=file] {
    border-radius: 3px;
    border-style: dashed;
    line-height: 1;
    padding: 25px;
  }

  & input[type=submit] {
    border: 0;
  }

  & label,
  & h5 {
    display: block;
    font-size: $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .checkbox h5 {
    font-weight: bold;
    margin: 0 0 8px 0;
  }

  & .checkbox input[type=checkbox] {
    margin: 4px 5px 0 0;
  }

  & .checkbox label {
    color: $gray-base;
    font-size: $font-size-base;
    font-weight: 300;
    text-transform: none;
  }

  & textarea {
    min-height: 200px;
    padding: 10px;
  }

  & select {
    border: $border;
    height: 35px;
    padding: 5px;
    width: 100%;
  }

  & .field_with_errors {

    & input,
    & select,
    & textarea {
      border: 2px solid #d9534f;
    }
  }

  /* creator list */

  & .creators {
    border: $border;
    border-radius: 4px;
    margin: 0 0 30px 0;
    padding: 20px;
    width: 100%;
  }

  & .creator-header,
  & #creator-list div {
    align-items: center;
    border: 0;
    border-bottom: $border;
    border-style: dotted;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  & .creator-header {
    border: none;
    padding: 0 0 5px 0;
  }

  & #creator-list div:hover {
    background-image: linear-gradient(to left, $gray-lighter-custom, $body-bg);
    cursor: move;
  }

  & .creator-header label,
  & .creator-header span,
  & #creator-list input,
  & #creator-list span.sort-icon {
    font-size: $font-size-small;
    margin: 0 3px 0 0;
    text-transform: none;
    width: 30%;
  }

  & .creator-header span.placeholder {
    color: transparent;
    margin: 0;
    padding: 6px;
    width: 7%;
  }

  & #creator-list span.sort-icon {
    color: $gray-light;
    margin: 0;
    padding: 6px;
    text-align: center;
    width: 7%;
  }
}

/* agreement form */

#main-page form.agreement {
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  margin: 20px 0;
  max-width: 700px;
  padding: 20px;

  & input[type=text],
  & textarea  {
    width: 70%;
  }
}
