/* homepage */

#home-content {
  padding-top: 20px;

  & p.summary {
    max-width: 800px;
  }

  & h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  & .stats {
    margin: 0 0 30px 0;
  }

  & .stats span {
  	display: inline-block;
    font-size: 2rem;
  	font-weight: 500;
  	min-width: 75px;
  	padding: 0 8px 0 0;
  }

  & .stats ul {
    margin: 0;
    padding: 0;
  }

  & .stats li {
    border-bottom: $border;
  	display: block;
  	line-height: 2;
  }

  & p.quote {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 30px 0;
    max-width: 650px;
  }

  & p.quote span {
    color: $gray-light;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: $screen-sm ) {
#home-content {

    & p.intro {
      font-size: 21px;
      margin: 10px 0 20px 0;
    }

    & p.intro strong {
      font-size: 25px;
    }
  }
}
