/* item page sidebar */

.show-tools {
  box-shadow: none;
  margin-bottom: 12px;

  & .panel-body {
    padding: 0;
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
    padding: 0;
  }
}

li.download-and-doi {
  align-items: center;
  animation: slideInUp;
  animation-duration: .7s;
  animation-fill-mode: both;
  background: $body-bg;
  border-top: 1px solid $brand-dark;
  bottom: 0;
  box-shadow: 0 0 17px 2px #ccc;
  display: flex;
  margin-left: -15px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;

  & .download-button {
    flex: 1;
    padding: 11px 8px;
    width: 100%;
  }

  & p {
    background: $gray-lighter-custom;
    border-radius: 6px;
    flex: 2;
    font-size: 12px;
    margin: 0;
    padding: 5px;
  }

  & .doi-container {
    flex: 2;
    line-height: 1;
    margin-left: 8px;
  }

  & label.doi-label {
    font-size: 12px;
    line-height: 1;
    margin: 0 0 2px 0;
  }

  & .doi-and-copy-button {
    display: flex;
  }

  & .doi-and-copy-button textarea {
    border: $border;
    border-color: $gray-lighter;
    box-shadow: inset -8px 0 7px -7px $gray-lighter;
    color: $gray-light;
    font-size: 12px;
    line-height: 2;
    overflow: auto;
    padding: 2px 6px;
    resize: none;
    white-space: nowrap;
    width: 80%;
    z-index: 1;
  }

  & .doi-and-copy-button .btn {
    background-image: linear-gradient(#fbfbfb,#eee);
    border: $border;
    border-color: $gray-lighter;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    padding: 2px 6px;
    width: 20%;
  }

  & .doi-and-copy-button .btn:hover {
    background-image: linear-gradient(#ebebeb,#ddd);
  }
}

li.social-buttons {
  padding: 10px 10px 6px 10px;
}

li.social-buttons a {
  margin: 0 6px 0 0;
}

li.use-and-reproduction {
  border-top: $border;
  font-size: $font-size-small;
  padding: 10px;

  & a.license,
  & a.in-copyright {
    display: block;
    margin-bottom: -10px;
  }

  & a.license img {
    margin-right: 3px;
    max-width: 30px;
  }

  & a.in-copyright img {
    max-width: 100px;
  }
}

@media screen and (min-width: $screen-sm ) {

  .show-tools {
    margin-top: 15px;
  }

  li.download-and-doi {
    animation: none;
    background: transparent;
    border: 0;
    bottom: auto;
    box-shadow: none;
    display: block;
    margin-left: inherit;
    position: relative;

    & .download-button {
      padding: 8px;
    }

    & .doi-container {
      margin: 10px 0 0 0;
    }

    & h4.doi-label {
      margin-bottom: 4px;
    }
  }

  li.social-buttons {
    padding: 5px 10px 6px 10px;
  }
}
