/* item page sidebar */

.show-tools {
  animation: slideInUp;
  animation-duration: .7s;
  animation-fill-mode: both;
  border: 0;
  border-radius: 0;
  border-top: 1px solid $brand-dark;
  bottom: 0;
  box-shadow: 0 0 17px 2px #ccc;
  margin: 0;
  margin-left: -15px;
  position: fixed;
  width: 100%;
  z-index: 1;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & .panel-body {
    padding: 10px;
  }

  & .download-box {
    display: flex;
  }

  & .download-box p {
    font-size: 14px;
  }

  & .permanent-link {
    align-items: center;
    display: flex;
    margin-left: 10px;
    width: 100%;
  }

  & .permanent-link h4,
  & .permanent-link textarea {
    font-size: 14px;
    line-height: 1;
  }

  & h4 {
    border: 1px solid $gray-lighter;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    color: $gray-light;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 50px;
  }

  & .permanent-link textarea {
    background: $body-bg;
    border: 1px solid $gray-lighter;
    border-radius: 0;
    box-shadow: none;
    color: $gray;
    font-weight: 300;
    overflow: auto;
    padding: 10px;
    resize: none;
    white-space: nowrap;
    width: 100%;
  }

  & .permanent-link textarea:focus {
    color: $brand-dark;
  }

  & .social-buttons {
    display: none;
  }
}

@media screen and (min-width: $screen-sm ) {

  .show-tools {
    animation: none;
    border: 0;
    border-radius: 3px;
    border: 1px solid $gray-lighter;
    bottom: auto;
    box-shadow: none;
    margin: 0;
    margin-left: inherit;
    position: relative;
    width: auto;

    & .download-box {
      display: block;
    }

    & .download-button {
      margin: 0 0 12px 0;
      width: 100%;
    }

    & .permanent-link {
      margin: 0;
    }

    & .permanent-link textarea {
      box-shadow: inset 0 0 3px #ddd;
    }

    & .social-buttons {
      display: block;
      padding-top: 20px;
    }
  }
}
