/* item page */

/* main-page content */

#document {

  & h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 6px 0;
  }

  & p.genre-labels {
    margin: 0 0 6px 0;
  }

  & span.label-tags {
    @include label-tags;
  }

  & .blacklight-author_ssim {
    color: $gray-light;
    display: inline-block;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
  }

  & .blacklight-author_ssim span {
    white-space: nowrap;
  }

  & .blacklight-author_ssim + [data-readmore-toggle] {
    background: $gray-lighter-custom;
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
  }

  & p.blacklight-abstract_ssi {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin: 20px 0 30px 0;
  }

  & .subjects h4 {
    border-bottom: 1px dotted $gray-lighter;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  & .subjects ul {
    columns: 2;
    margin: 0 0 30px 0;
    padding: 0;
  }

  & .subjects li {
    font-size: 14px;
    list-style: none;
    margin: 0 0 12px 0;
  }

  & .panel {
    box-shadow: none;
  }

  & .panel-title {
    font-size: 16px;
    font-weight: bold;
  }

  & .panel-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  & .panel-heading .download-all {
    display: inline-block;
    font-weight: bold;
  }

  & .panel p {
    font-weight: 300;
    line-height: 1.6;
    padding: 15px;
  }

  & .list-group {
    border-bottom: 1px dotted $gray-lighter;
  }

  & .list-group:last-child {
    border-bottom: 0;
  }

  & .list-group-item {
    align-items: center;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
    position: relative;
  }

  & .list-group-item span {
    padding: 3px 0;
    width: 100%;
  }

  & .list-group-item span.image img {
    border: $border;
    margin-right: 10px;
    max-height: 50px;
  }

  & .list-group-item span.filename {
    font-weight: 600;
    width: 85%;
    word-break: break-all;
  }

  & .list-group-item span.filesize,
  & .list-group-item span.mimetype {
    color: $gray-light;
  }

  & .list-group-item span.download {
    font-size: 30px;
    position: absolute;
    right: 10px;
    text-align: right;
  }

  & dl {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }

  & dt {
    padding-top: 20px;
  }

  & dt:first-child {
    padding-top: 0;
  }
}

@media screen and (min-width: $screen-md ) {

  #document {

    & h1 {
      font-size: 31px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 8px 0;
    }

    & .blacklight-abstract {
      padding-right: 10%;
    }

    & p.blacklight-abstract_ssi {
      font-size: 17px;
    }

    & .subjects ul {
      columns: 4;
    }

    & .list-group-item span {
      flex: .5 0 0;
      padding: 0;
      width: auto;
    }

    & .list-group-item span.filename {
      flex: 3 0 0;
      margin-right: 10px;
      width: auto;
    }

    & .list-group-item span.filesize,
    & .list-group-item span.mimetype {
      margin: 0 10px;
    }

    & .list-group-item span.download {
      flex: .3 0 0;
      position: relative;
      right: auto;
      text-align: right;
    }

    & dt,
    & dt:first-child {
      float: left;
      line-height: 1.8;
      padding: 0;
    }

    & dd {
      line-height: 1.8;
      margin-left: 18%;
    }
  }
}

/* active panel */

#document .active {
  box-shadow: 0 0 5px 1px lighten($brand-primary, 3%);
  transition: all .4s ease;
}
