/* item page */

/* pagination widget */

.pagination-search-widgets {
  border: 0;
  border-bottom: 1px dotted $gray-lighter;
  color: $gray-light;
  font-size: 12px;
  letter-spacing: .2px;
  margin: 0 0 13px 0;
  padding: 0 0 13px 0;
  text-transform: uppercase;
  text-align: center;

  & a {
    color: $gray-base;
    font-weight: 500;
  }

  & .search-widgets {
    display: inline-block;
    margin: 0 25px 0 0;
  }

  & .page_links {
    display: inline;
    padding: 0;
  }

  & .results-counter {
    display: block;
    margin: 0 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: $screen-sm ) {

  .pagination-search-widgets {
    text-align: left;

    & .results-counter {
      display: inline;
      margin: 0 0 0 25px;
      padding: 0;
    }
  }
}

/* main content */

#document {

  & h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 12px 0;
  }

  & span.label-tags {
    @include label-tags;
  }

  & .blacklight-author_ssim {
    color: $gray-light;
    display: inline-block;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
  }

  & .blacklight-author_ssim span {
    white-space: nowrap;
  }

  & .blacklight-author_ssim + [data-readmore-toggle] {
    background: $gray-lighter-custom;
    font-size: 12px;
    display: inline;
    padding: 2px 5px;
  }

  & p.blacklight-abstract_ssi {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    margin: 30px 0;
  }

  & .subjects h4 {
    border-bottom: 1px dotted $gray-lighter;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  & .subjects ul {
    columns: 2;
    margin: 0 0 30px 0;
    padding: 0;
  }

  & .subjects li {
    font-size: 14px;
    list-style: none;
    margin: 0 0 12px 0;
  }

  & .panel {
    box-shadow: none;
  }

  & .panel-title {
    font-size: 16px;
    font-weight: bold;
  }

  & .panel-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  & .panel-heading .download-all {
    display: inline-block;
    font-weight: bold;
  }

  & .panel p {
    padding: 15px;
  }

  & .list-group {
    border-bottom: 1px dotted $gray-lighter;
  }

  & .list-group:last-child {
    border-bottom: 0;
  }

  & .list-group-item {
    align-items: center;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
  }

  & .list-group-item span {
    padding: 3px 0;
    width: 100%;
  }

  & .list-group-item span.image img {
    border: 1px solid $gray-lighter;
    margin-right: 10px;
    max-height: 50px;
  }

  & .list-group-item span.filename {
    font-weight: 600;
    word-break: break-all;
  }

  & .list-group-item span.filesize,
  & .list-group-item span.mimetype {
    color: $gray-light;
  }

  & .list-group-item span.download {
    font-size: 20px;
  }

  & dl {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }

  & dt {
    padding-top: 20px;
  }

  & dt:first-child {
    padding-top: 0;
  }
}

/* sidebar */

.show-tools {
  box-shadow: none;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & h4 {
    color: $gray-light;
    font-size: 12px;
    margin: 20px 0 7px 0;
  }

  & .download-button {
    width: 100%;
  }

  & .permanent-link textarea {
    background: $body-bg;
    border: 0;
    border: 1px solid $gray-lighter;
    box-shadow: inset 0 0 3px #ddd;
    color: $gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    overflow: auto;
    padding: 10px;
    resize: none;
    white-space: nowrap;
    width: 100%;
  }

  & .permanent-link textarea:focus {
    color: $brand-dark;
  }

  & .social-buttons {
    padding-top: 20px;
  }
}

@media screen and (min-width: $screen-md ) {

  #document {

    & h1 {
      font-size: 31px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 12px 0;
    }

    & .blacklight-abstract {
      padding-right: 10%;
    }

    & .subjects ul {
      columns: 4;
    }

    & .list-group-item span {
      flex: .5 0 0;
      padding: 0;
      width: auto;
    }

    & .list-group-item span.filename {
      flex: 3 0 0;
      margin-right: 10px;
    }

    & .list-group-item span.filesize,
    & .list-group-item span.mimetype {
      margin: 0 10px;
    }

    & .list-group-item span.download {
      flex: .3 0 0;
      text-align: right;
    }

    & dt,
    & dt:first-child {
      float: left;
      line-height: 1.8;
      padding: 0;
    }

    & dd {
      line-height: 1.8;
      margin-left: 18%;
    }
  }
}
