/* item page sidebar */

.show-tools {
  border: $border;
  box-shadow: none;
  padding: 10px;

  & .panel-body {
    padding: 0;
  }
}

.asset-buttons,
.doi {
  animation: slideInUp;
  animation-duration: .7s;
  animation-fill-mode: both;
}

.asset-buttons {
  align-items: center;
  background: $body-bg;
  border-top: 1px solid $brand-dark;
  bottom: 0;
  box-shadow: 0 0 17px 2px #ccc;
  margin-left: -26px;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;

  & .download-button {
    padding: 11px 8px;
    width: 30%;
  }

  & p {
    background: $gray-lighter-custom;
    border-radius: 6px;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    width: 32%;
  }
}

.doi {
  animation-duration: .9s;
  align-items: center;
  bottom: 11px;
  display: flex;
  font-size: 14px;
  position: fixed;
  right: 8px;
  width: 63%;
  z-index: 1000;

  & label.doi-label {
    flex: 0 1 auto;
    margin-right: 5px;
  }

  & input#doi {
    border: $border;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset -8px 0 7px -7px #ccc;
    flex: 1 1 auto;
    padding: 11px 8px;
    vertical-align: middle;
    z-index: 1;
  }

  & button.copy-to-clipboard {
    background-image: linear-gradient(#fbfbfb,#eee);
    border: $border;
    border-color: $gray-lighter;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex: 0 1 auto;
    font-size: 14px;
    margin-left: -2px;
    padding: 11px 13px;
  }

  & button.copy-to-clipboard:hover {
    background-image: linear-gradient(#ebebeb,#ddd);
  }
}

.social-buttons {
  line-height: 1;
}

.social-buttons a {
  margin: 0 6px 0 0;
}

.use-and-reproduction {
  font-size: 12px;

  & a {
    margin: 10px 0 0 0;
  }

  & a.license,
  & a.in-copyright {
    display: block;
    margin-bottom: -12px;
  }

  & a.license img {
    margin-right: 3px;
    max-width: 30px;
  }

  & a.in-copyright img {
    max-width: 100px;
  }
}

@media screen and (min-width: $screen-sm ) {

  .show-tools {
    margin-top: 15px;
  }

  .asset-buttons {
    animation: none;
    background: transparent;
    border: 0;
    bottom: auto;
    box-shadow: none;
    display: block;
    margin-left: inherit;
    padding: 0;
    position: relative;

    & .download-button {
      padding: 8px;
      width: 100%;
    }

    & p {
      width: 100%;
    }
  }

  .doi {
    animation: none;
    bottom: auto;
    flex-wrap: wrap;
    padding: 13px 0;
    position: relative;
    right: auto;
    width: 100%;

    & label.doi-label {
      flex: none;
      margin-bottom: 2px;
      margin-right: 0;
      width: 100%;
    }

    & input#doi,
    & button.copy-to-clipboard {
      padding: 8px 10px;
    }

    & input#doi {
      width: 80%;
    }

    & button.copy-to-clipboard {
      width: 20%;
    }
  }
}
