/* main-page */

#main-page {

  & .affix-top,
  & .affix {
  	position: relative;
  }

  /* side-nav */

  & .side-nav {
    padding-left: 15px;
  }

	& ul.anchor-links {
    color: $gray-lighter;
		font-size: $font-size-small;
    font-weight: normal;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 10px 0 0 0;
		width: auto;

    & a {
      text-decoration: none;
    }

		& li {
			display: inline-block;
		}

		& li::after {
			content: ' | ';
		}

    & li:last-child::after {
      content: '';
    }
	}

  /* main-page content */

  & .main-content {
    padding: 20px 15px;
  }

  & a {
    text-decoration: underline;
  }

  & a.btn {
    text-decoration: none;
  }

  & .page-header {
    border: 0;
    margin: 0;
    padding: 0;
  }

  & .page-header:after,
  & .page-header:before {
    content: '';
    display: table;
  }

  & .page-header:after {
    border-bottom: $border;
    height: auto;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  & h1 {
    margin: 0;
    padding: 0 0 15px 15px;
  }

  & h2 {
    margin: 0 0 25px 0;
  }

  & h3,
  & h4 {
    margin: 25px 0 0 0;
  }

  & p,
  & ul {
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 25px 0;
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  & p.alert {
    margin-top: 0;
  }

  & p.small {
    font-size: $font-size-small;
    letter-spacing: normal;
  }

  & ul.brand-logos {
    padding: 0;

    & li {
      box-shadow: 0 0 3px #ccc;
      display: inline-block;
      margin: 0 6px 20px 0;
      padding: 0;
    }

    & img {
      max-width: 105px;
    }
  }
}

@media screen and (min-width: $screen-md ) {

  #main-page {

    & .left-border {
      border-left: $border;
      padding: 30px 40px;
    }

    & .affix-top,
    & .affix {
      position: static;
    }

    & .affix,
    & .affix-bottom,
    & .affix-top {
      width: 234px;
    }

    & .affix {
      position: fixed;
      top: 0;
    }

    & .affix-bottom {
      position: absolute;
    }

    & ul.anchor-links {
      font-size: $font-size-base;
      padding: 30px 0 0 0;
    }

	  & ul.anchor-links li {
			display: block;
      line-height: 2;
    }

	  & ul.anchor-links li::after {
			content: none;
		}
	}
}

/* link lists */

#main-page ul.link-list {
  color: $gray-light;
  column-count: auto;
  column-gap: 50px;
  column-width: 350px;
  margin: 25px 0 60px 0;
  max-width: none;
  padding: 0;

  & li {
    break-inside: avoid-column;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 15px 0;
  }

  & li span {
    color: $gray-base;
    display: block;
    line-height: 1.6;
    margin: 2px 0 25px 0;
  }

  & a {
    text-decoration: none;
  }
}

/* iframe */

#main-page iframe.author-agreement {
  margin: 20px 0 0 0;
  max-width: 700px;
}
