/* main-page */

#main-page {

  & .affix-top,
  & .affix {
  	position: relative;
  }

  /* side-nav */

  & .side-nav {
    padding-left: 0;
  }

	& ul.anchor-links {
    color: $gray-lighter;
		font-size: 16px;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 10px 0 0 0;
		width: auto;

    & a {
      text-decoration: none;
    }

		& li {
			display: inline-block;
		}

		& li::after {
			content: ' | ';
		}
	}

  /* main-page content */

  & .main-content {
    padding: 20px 0;
  }

  & a {
    text-decoration: underline;
  }

  & a.btn {
    text-decoration: none;
  }

  & .page-title::after {
    border-bottom: $border;
    height: auto;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  & p.summary {
    margin-top: 10px;
  }

  & h1 {
    margin: 0;
    padding: 16px 0 18px 0;
  }

  & h2 {
    margin: 0;
  }

  & h3 {
    margin: 25px 0 -20px 0;
  }

  & h4 {
    margin: 45px 0 -20px 0;
  }

  & p,
  & ul {
    font-weight: 300;
    line-height: 1.6;
    margin: 25px 0;
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  & p.intro,
  & p.notice {
    font-size: 21px;
    margin-top: 0;
  }

  & ul.brand-logos {
    padding: 0;

    & li {
      box-shadow: 0 0 3px #ccc;
      display: inline-block;
      margin: 0 6px 20px 0;
      padding: 0;
    }

    & img {
      max-width: 105px;
    }
  }

  & table {
    margin-bottom: 50px;
    max-width: 700px;

    & th {
      background: $gray-lighter-custom;
      font-size: 14px;
      padding: 10px;
    }

    & td {
      border-bottom: $border;
      padding: 8px 5px;
    }

    & td.center {
      text-align: center;
    }
  }
}

@media screen and (min-width: $screen-md ) {

  #main-page {

    & .left-border {
      border-left: $border;
      padding: 30px 40px;
    }

    & .affix-top,
    & .affix {
      position: static;
    }

    & .affix,
    & .affix-bottom,
    & .affix-top {
      width: 234px;
    }

    & .affix {
      position: fixed;
      top: 0;
    }

    & .affix-bottom {
      position: absolute;
    }

    & ul.anchor-links {
      padding: 30px 0 0 0;
    }

	  & ul.anchor-links li {
			display: block;
      line-height: 2;
    }

	  & ul.anchor-links li::after {
			content: none;
		}
	}
}

/* link lists */

#main-page ul.link-list {
  color: $gray-light;
  column-count: auto;
  column-gap: 50px;
  column-width: 350px;
  margin: 25px 0 60px 0;
  max-width: none;
  padding: 0;

  & li {
    break-inside: avoid-column;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 15px 0;
  }

  & a {
    text-decoration: none;
  }
}

/* iframe */

#main-page iframe.author-agreement {
  margin: 20px 0 0 0;
  max-width: 700px;
}
