/* menu */

.menu,
.menu-small,
#main-page .menu,
#main-page .menu-small {
  margin: 15px 0;

  & .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 60px -10px;
  }

  & .tile {
    background: $body-bg;
    border: $border;
    border-radius: 3px;
    display: block;
    margin: 10px;
    padding: 20px 25px;
    width: 100%;
  }

  & .logo img {
    border-radius: 6px;
    margin-bottom: 7px;
    max-height: 70px;
    max-width: 100%;
  }

  & h2 {
    font-size: 23px;
    line-height: 1.3;
    margin: 0;
  }

  & p {
    font-weight: 300;
    line-height: 1.5;
    margin: 3px 0;
  }

  & a {
    text-decoration: none;
  }
}

.menu-small,
#main-page .menu-small {
  max-width: 700px;
}

/* homepage menu */

.homepage-menu {
  margin: 10px -10px 0 -10px;

  & .collections,
  & .upload {
    box-shadow: $box-shadow;
    padding: 25px 30px;
    width: auto;
    z-index: 100;
  }

  & a p {
    color: $gray-base;
    margin-top: 7px;
  }

  & a:hover p {
    color: $link-hover-color;
  }

  & a:hover {
    border-color: $link-hover-color;
    text-decoration: none;
  }

  & .top {
    align-items: center;
    display: flex;
  }

  & .top svg {
    display: inline-block;
    fill: $link-color;
    flex: 1 0 0;
    margin-right: 6px;
    max-width: 40px;
  }

  & .top h2 {
    display: inline-block;
    flex: 1 0 0;
    margin: 0;
  }

  & .top svg path {
    fill: $link-color;
  }

  & a:hover svg,
  & a:hover svg path {
    fill: $link-hover-color;
  }
}

.homepage-info:before {
  border-bottom: $border;
  height: auto;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -50vw;
  padding-top: 20px;
  position: relative;
  width: 100vw;
}

/* upload your research menu */

.menu .log-in {
  box-shadow: $box-shadow;
  z-index: 1000;
}

.menu .no-log-in {
  background: $gray-lighter-custom;
  border: 0;
  color: $gray;
}

/* media queries for large screens */

@media screen and (min-width: $screen-md ) {

  .menu,
  .menu-small,
  #main-page .menu,
  #main-page .menu-small,
  .homepage-menu {

    & .tile {
      width: 45%;
    }
  }

  .homepage-menu {
    display: flex;
    margin-top: 20px;
  }
}
