.menu {
  margin: 25px 0;

  & .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 60px -10px;
  }

  & .tile {
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    margin: 10px;
    padding: 25px;
    width: 100%;
  }

  & h2 {
    font-size: 23px;
  }
}

@media screen and (min-width: $screen-md ) {

  .menu {

    & .tile {
      width: 45%;
    }
  }
}

/* upload your research menu */

.menu .log-in {
    box-shadow: $box-shadow;
    z-index: 1000;
  }

.menu .no-log-in {
    background: $gray-lighter-custom;
    border: 0;
    color: $gray-light;
  }

.menu .no-log-in svg.icon-email {
    margin-bottom: -3px;
  }
