/* search results */

/*  top */

.constraints-container {
  background: $gray-lighter-custom;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  line-height: 2.2;
  margin: 0;
  padding: 7px 10px 9px 10px;
}

#startOverLink {
  display: none;
}

#sortAndPerPage {
  border-bottom-style: dotted;
  margin: 0;
  padding: 0;
}

#sortAndPerPage .pull-right {
  width: 100%;
}

span.constraints-label {
  margin: 0;
}

.constraint .btn {
  border: 0;
  box-shadow: 0 0 2px #aaa;
  font-size: $font-size-small;
  line-height: 1.2;
}

.constraint .remove {
  line-height: 1;
}

.page_links {
  background: darken($gray-lighter-custom, 5%);
  border-top-width: 1px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: block;
  font-size: $font-size-small;
  padding: 7px 10px;
}

.page_links a {
  font-weight: bold;
}

.search-widgets {
  padding: 8px 0;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
  border-color: $gray-lighter;
  color: $gray-base;
  font-size: 13px;
}

@media screen and (min-width: $screen-sm ) {

  .constraints-container {
    background: $gray-lighter-custom;
    border: 0;
    border-radius: 3px;
    margin-top: 15px;
    padding: 6px 15px;
  }

  #startOverLink {
    display: block;
  }

  .page_links {
    background: transparent;
    border: 0;
    display: inline-block;
    padding: 17px 0 0 0;
  }

  #sortAndPerPage .pull-right {
    width: auto;
  }
}

/*  main-page content */

#documents {
  margin-bottom: 30px;

  & .document {
    border: 0;
    border-bottom: $border;
    border-style: dotted;
    margin: 0;
    padding: 15px 0;
  }

  & .document-counter {
    display: none;
  }

  & .document .document-title-heading {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 1.3;
    margin: 0 0 8px 0;
  }

  & .document-metadata dd {
    font-size: $font-size-small;
    margin: 0;
  }

  & dl {
    margin: 0;
  }

  & dd.blacklight-author_ssim {
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & dd.blacklight-pub_date_isi,
  & dd.blacklight-genre_ssim {
    @include tag-label;
    margin-bottom: 6px;
  }

  & dt.blacklight-genre_ssim,
  & dt.blacklight-pub_date_isi {
    display: none;
  }
  
  & dd.blacklight-subject_ssim span {
    color: $gray-light;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 14px;
  }
}

.pagination {
  margin: 0 0 9px 0;
}

.pagination li a {
  margin-bottom: 5px;
}

.noresults {

  & h3,
  & ul,
  & li {
    display: inline;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
