/* static page */

#static-text {

  & .affix-top,
  & .affix {
  	position: relative;
  }

  & a {
    text-decoration: underline;
  }

  & a.btn {
    text-decoration: none;
  }

  & .page-title {
    border-bottom: 1px solid $gray-lighter;
    height: auto;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  & .no-border {
    border: 0;
  }

  & .no-border h1 {
    padding: 0;
  }

  & p.summary {
    margin-top: 10px;
  }

  & h1 {
    margin: 0;
		padding-bottom: 18px;
  }

  & h2 {
    display: inline-block;
    margin: 0;
  }

  & h3 {
    margin: 25px 0 -20px 0;
  }

  & h4 {
    margin: 45px 0 -20px 0;
  }

  & p,
  & ul {
    font-weight: 300;
    line-height: 1.6;
    margin: 25px 0;
    max-width: 800px;
  }

	& ul.anchor-links {
    color: $gray-lighter;
		font-size: 16px;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 10px 0 0 0;
		width: auto;

    & a {
      text-decoration: none;
    }

		& li {
			display: inline-block;
		}

		& li::after {
			content: ' | ';
		}
	}

  & ul.brand-logos {
    padding: 0;

    & li {
      display: inline-block;
      margin: 0 35px 0 0;
      padding: 0;
    }

    & img {
      max-height: 100px;
      max-width: 140px;
    }
  }

  & #main-content {
    padding: 30px 15px;
  }

  & table {
    margin-bottom: 50px;
    max-width: 800px;

    & th {
      background: $gray-lighter-custom;
      font-size: 14px;
      padding: 10px;
    }

    & td {
      border-bottom: 1px solid $gray-lighter;
      padding: 8px 5px;
    }

    & td.center {
      text-align: center;
    }
  }
}

@media screen and (min-width: $screen-md ) {

  #static-text {

    & .affix-top,
    & .affix {
      position: static;
    }

    & .affix,
    & .affix-bottom,
    & .affix-top {
      width: 234px;
    }

    & .affix {
      position: fixed;
      top: 0;
    }

    & .affix-bottom {
      position: absolute;
    }

    & ul.anchor-links {
      padding: 30px 0 0 0;
    }

	  & ul.anchor-links li {
			display: block;
      line-height: 2;
    }

	  & ul.anchor-links li::after {
			content: none;
		}

		& #main-content {
			border-left: 1px solid $gray-lighter;
			padding: 30px 40px;
		}
	}
}

/* modifications for static pages with menus */

#static-text .menu a {
  text-decoration: none;
}

#static-text .menu p {
  margin-top: 3px;
}

/* link lists */

ul.link-list {
  color: $gray-light;
  column-count: 3;
  column-gap: 50px;
  margin: 25px 0;
  max-width: none;
  padding: 0;

  & li {
    line-height: 1.5;
    list-style: none;
    margin: 0 0 15px 0;
  }
}

#static-text ul.link-list a {
  text-decoration: none;
}
