/* static page */

#static-text {

  & .affix-top,
  & .affix {
  	position: relative;
  }

  & a {
    text-decoration: underline;
  }

  & a.btn {
    text-decoration: none;
  }

  & .page-title {
    border-bottom: 1px solid $gray-lighter;
    height: auto;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  & .no-border {
    border: 0;
  }

  & .no-border h1 {
    padding: 0;
  }

  & p.summary {
    margin-top: 10px;
  }

  & h1 {
    margin: 0;
		padding-bottom: 18px;
  }

  & h2 {
    margin: 0;
  }

  & h3 {
    margin: 25px 0 -20px 0;
  }

  & h4 {
    margin: 45px 0 -20px 0;
  }

  & p,
  & ul {
    font-weight: 300;
    line-height: 1.6;
    margin: 25px 0;
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  & p.intro,
  & p.notice {
    font-size: 21px;
  }

	& ul.anchor-links {
    color: $gray-lighter;
		font-size: 16px;
		list-style: none;
		margin: 0;
		max-width: none;
		padding: 10px 0 0 0;
		width: auto;

    & a {
      text-decoration: none;
    }

		& li {
			display: inline-block;
		}

		& li::after {
			content: ' | ';
		}
	}

  & ul.brand-logos {
    padding: 0;

    & li {
      display: inline-block;
      margin: 0 40px 20px 0;
      padding: 0;
    }

    & img {
      max-height: 60px;
      max-width: 105px;
    }
  }

  & #main-content {
    padding: 30px 15px;
  }

  & table {
    margin-bottom: 50px;
    max-width: 700px;

    & th {
      background: $gray-lighter-custom;
      font-size: 14px;
      padding: 10px;
    }

    & td {
      border-bottom: 1px solid $gray-lighter;
      padding: 8px 5px;
    }

    & td.center {
      text-align: center;
    }
  }
}

@media screen and (min-width: $screen-md ) {

  #static-text {

    & .affix-top,
    & .affix {
      position: static;
    }

    & .affix,
    & .affix-bottom,
    & .affix-top {
      width: 234px;
    }

    & .affix {
      position: fixed;
      top: 0;
    }

    & .affix-bottom {
      position: absolute;
    }

    & ul.anchor-links {
      padding: 30px 0 0 0;
    }

	  & ul.anchor-links li {
			display: block;
      line-height: 2;
    }

	  & ul.anchor-links li::after {
			content: none;
		}

		& #main-content {
			border-left: 1px solid $gray-lighter;
			padding: 30px 40px;
		}
	}
}

/* link lists */

#static-text ul.link-list {
  color: $gray-light;
  column-count: auto;
  column-gap: 50px;
  column-width: 350px;
  margin: 25px 0 60px 0;
  max-width: none;
  padding: 0;

  & li {
    break-inside: avoid-column;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 15px 0;
  }

  & a {
    text-decoration: none;
  }
}

/* iframe */

#static-text iframe.author-agreement {
  margin: 20px 0 0 0;
  max-width: 700px;
}

/* forms */

#static-text form {
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  margin: 20px 0;
  max-width: 700px;
  padding: 20px;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 5px 0;
  }

  & li.checkbox {
    margin-bottom: 20px;
  }

  & label {
    font-weight: bold;
    margin: 0;
    min-width: 70px;
  }

  & input[type=checkbox] {
    margin: -3px 5px 0 0;
  }

  & input[type=text] {
    min-width: 300px;
  }

  & .btn-accept {
    margin-top: 25px;
  }
}
