table,
#main-page table {
  margin-bottom: 50px;
  max-width: 100%;

  & th {
    background: $gray-lighter-custom;
    font-size: $font-size-small;
    padding: 10px;
    vertical-align: middle;
  }

  & th.header {
    background: $body-bg;
    border-top: 0;
  }

  & td {
    border-bottom: $border;
    font-size: $font-size-small;
  }

  & th.center,
  & td.center {
    text-align: center;
  }
}

table.small,
#main-page table.small {
  max-width: 700px;
}

/* dashboard tables */

#main-page #dashboard table th.header h3 {
  line-height: 1.3;
  margin-bottom: 0;
}
