<% usage_stats = @usage_statistics_reports_form.usage_stats %>

<% if usage_stats %>

  <hr>
  <h2>Usage Statistics Report</h2>
  <% if usage_stats.empty? %>
    <p>No results matched your search</p>
  <% else %>
    <% stats_presenter = UsageStatisticsPresenter.new(usage_stats, @usage_statistics_reports_form.stat_key, self) %>

    <div class="usage-stats animated fadeIn">
      <%= stats_presenter.render_details_table %>
      <div class="row">
        <div class="col-sm-8">
          <% usage_statistics_paramters = params.to_unsafe_h.slice(:usage_statistics_reports_form) %>
          <%= button_to nil, action: :create, method: :post, params: usage_statistics_paramters.merge!(format: :csv), class: 'btn btn-primary' do %>
            <small><i class="fas fa-file-export"></i> Export Results to CSV</small>
          <% end %>

          <button class="btn btn-primary" data-toggle="modal" data-target="#email-modal"><small><i class="far fa-envelope"></i> Email Results</small></button>
        </div>
      </div>
    </div>
    <hr>

    <%= stats_presenter.render_html_table(table_class: 'table datatables') %>

    <%=
      modal('email-modal', 'lg', 'Email Usage Statistics') do
        render partial: 'email_form'
      end
    %>

  <% end %>
<% end %>
