<table class="table">
  <% array.each_with_index do |row, idx| %>
    <% if idx.zero? %>
      <tr><%= safe_join(row.map { |cell| content_tag :th, cell }) %></tr>
    <% else %>
      <tr><%= safe_join(row.map { |cell| content_tag :td, cell }) %></tr>
    <% end %>
  <% end %>
</table>
