<table class="table datatables">
  <thead>
    <tr><%= safe_join(array.shift.map { |cell| content_tag :th, cell }) %></tr>
  </thead>

  <tbody>
    <% array.each do |row| %>
      <tr><%= safe_join(row.map { |cell| content_tag :td, cell }) %></tr>
    <% end %>
  </tbody>
</table>
