<p>
This document constitutes permission to deposit and make my work available through Academic Commons. Deposit of my work with Academic Commons is voluntary. I understand that giving my permission does not alter the copyright or other rights to the work that I might hold.
</p>

<p>
I understand that by acceptance of this agreement I have granted Columbia University the non-exclusive right to make a digital copy of my work(s) available for permanent archiving and for public access in the Columbia University Libraries/Information Services research repository, Academic Commons, or any successor initiative based at Columbia.
</p>

<p>
This agreement refers to the work(s) currently being deposited by electronic means and to work(s) deposited in the future.
</p>

<p>
I recognize that I may request to have the work(s) removed from the repository. Removal from the repository terminates public access to the work(s), but copies of the work(s) remain with Columbia University Libraries/Information Services subject to restricted access.
</p>

<p>
I understand that this permission is nonexclusive and does not prevent me from entering into similar arrangements with other parties or from exercising any rights that I may have in the work(s). However, I understand that I may need to inform subsequent publishers or others that I have granted this preexisting permission to deposit my work(s) in Academic Commons.
</p>

<p>
I confirm that this is my original work(s), that I have the right to grant this use, and that this use does not, to the best of my knowledge, infringe upon anyone's copyright.
</p>

<p>
The following provision applies if the work(s) specified above are created by students: In connection with use of the work(s) as set forth above, I hereby waive the confidentiality provisions of the Federal Family Educational and Privacy Rights Act of 1974 with respect to the contents of the work(s) and with respect to information concerning my authorship of the work(s), including my name and status as a student at Columbia University.
</p>

<p>
  <a href="/self-deposit/AuthorAgreementFormAC2.pdf" target="_blank" >Download PDF</a>
<p>
