<p><em>Academic Commons is Columbia University’s online research repository. The Digital Scholarship Division at Columbia University Libraries stewards the repository program.</em></p>

<h2>Columbia Academic Commons Deposit Agreement</h2>

<p>I acknowledge that the following terms and conditions apply to all of my works in Academic Commons.</p>

<p>I confirm that this agreement grants Columbia University a nonexclusive license to copy, store, make publicly available and distribute my work(s) globally on the Internet in Academic Commons or any successor initiative managed by the Trustees of Columbia University.</p>

<p>I understand that deposit of my work(s) in Academic Commons is voluntary. I understand that granting this permission does not alter the copyright or other rights to the work(s) that I might hold.</p>

<p>I confirm that I am depositing my original work(s), that I have the right to grant this license, and that I have taken steps to determine that this license does not infringe upon any third party copyright. </p>

<p>I acknowledge that during the deposit process I will have to choose a license under which my work(s) in Academic Commons will be used by third parties accessing my work(s). I understand, as well, that I can choose an option that instead reserves all rights.</p>

<p>I understand that this license is nonexclusive and does not prevent me from entering into similar arrangements with other parties or from exercising any rights that I may have in the work(s). However, I understand that I may need to inform subsequent publishers or others that I have granted this license to the Trustees of Columbia University.</p>

<p>I may request to have public access to the work(s) in Academic Commons removed, though some metadata about the work(s) will remain publicly available.</p>

<p>The following provision applies if the work(s) specified above are created by students: In connection with use of the work(s) as set forth above, I hereby waive the confidentiality provisions of the Federal Family Educational and Privacy Rights Act of 1974 with respect to the contents of the work(s) and with respect to information concerning my authorship of the work(s), including my name and status as a student at Columbia University.</p>

<p>
  <a href="/agreement2.0.pdf" target="_blank" >Download PDF</a>
<p>
