<div id="static-text">

  <div class="page-title">
    <div class="container">
      <h1>Academic Commons Participation Agreement</h1>
    </div>
  </div>

  <div class="container">
    <% if current_user.signed_latest_agreement? %>
      <p class="notice"><strong>Notice</strong>: You have already signed this agreement.</p>
    <% end %>

    <%= render partial: 'author_agreement' %>
  </div>
</div>
