<% title 'Agreement' %>

<% if current_user.signed_latest_agreement? %>
  <p class="alert alert-info"><strong>Note</strong>: You have already signed this agreement.</p>
<% end %>

<%= render partial: 'author_agreement' %>
