/* @override 
	http://webdev.cdrs.columbia.edu:3000/stylesheets/application.css
	http://localhost:3000/stylesheets/application.css
 
*/

/*
*= require_self
*= require_tree .
*/


div#header.container {
	padding-left: 36px;
	padding-right: 39px;
	margin-top: .75em;

	background: url(main-header-background.jpg) no-repeat;
	
	-moz-box-shadow: 1px 4px 8px #333;
	-webkit-box-shadow: 1px 4px 8px #333;
	box-shadow: 1px 4px 8px #333;


}

div.home-recent.first {
	border:none;
	margin: 4px;
	background: transparent;
	
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     box-shadow:none;
	text-align: right;
	color: #888;
	font: italic 3em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
	width: 180px;
	width: 180px;
	height: 180px;
	padding: 11px;
	text-shadow: #e0e0e0 1px 1px 0;
}

div#results-list-wrapper {
	border: 1px solid silver;
	margin-top: 1em;
 
	padding-top: .5em;
	background: rgba(255,255,255,.5);
}

p.caption {
	
	margin-top: 1em;
	text-align: right;
 
	display: block;
	position: absolute;
	bottom: 0;
	right: 1em;
	margin-bottom: 1em;
	 
 
}
/*p.caption:before {
	
	content:'by: ';
	color: #3f3f3f;}*/
 

#recently-updated li.home-recent p.caption a {
	font-weight: normal;
	border-bottom: 1px dotted #81ff76;
}
li.home-recent {
	position: relative;
	display: block;
	float: left;
	width: 180px;
	height: 180px;
	padding: 11px;
	border: 1px solid silver;
	margin: 4px;
	background: rgba(255,255,255,.75);
	
	  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  box-shadow:3px 3px 3px rgba(0,0,0,.2);
 
}

/* My Comment */

div#home-deposit.box {
		/*background: url(alma-home-bg.png) no-repeat 28px;*/
}



li.home-recent:hover{
	background: white;
}

li.home-recent a{
	border-bottom: none;
	font-weight: bold;
}

#sort-per-page {
	margin-top: 1em;
	margin-bottom: .5em;
 
}

div.result-set-tools {
	margin: 0 .5em 1em .5em;
	padding: .5em;
	border: 1px solid silver;
}

ul, ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3{
	margin-bottom: .25em;
}

#home-deposit h3 {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 1.25em;
	text-shadow: white 2px 2px 1px;
}

#home-deposit p {
	text-shadow: white 2px 2px 1px;
}

 

ul#recently-updated {
	
	 
}

#browse {
		font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		background:rgba(255,255,255,.5);
		padding-bottom: 3em;
		min-height: 425px;
}


#home-recent h3  {
	margin-bottom: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

#home-news strong {
	font: 1.25em Georgia, "Times New Roman", Times, serif;
}

#top-slug, #home-content  {
	font: 1.25em/1.5em Georgia, "Times New Roman", Times, serif;
}

#about-text p{
	margin-right: 50px;
}
div#intro {
	padding-right: 120px;
	margin-top: 20px;
	margin-left: 50px;
 
}


div.sd{
		font: 14px/18px Georgia, "Times New Roman", Times, serif;
}
#top-slug h2{
	text-transform: uppercase;
	font-size: 1.2em;
}


div.sd h2{
	font-size: 1.5em;
	margin-bottom: 1em;
	
}

 


 

 .box{
 background: rgba(255,255,255,.5);
 border: 1px solid white;
 margin-bottom: .75em;
 padding:12px;
 
}


 

#home-recent{
 
}
a:link,  a:visited,   a:active {
 color: #314E83;
 
}

 a:hover {
	 
}

h1.site_title {
	
}

#header header h1.site_title a {
	 width: 422px;
	height: 80px;
}
header{
 
 
	 
	 padding-left: 50px;
	 padding-right: 50px;
	height: 95px;
 
}

#search-left{
	width: 92px;
	height: 100px;
	background: url(bg-search-left.png) no-repeat;
	float: left;
}
#search-right{
		width: 100px;
	height: 100px;
	background: url(bg-search-right.png) no-repeat;
	float: left;
}

h1.site_title a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	border: 0px;
}

h1.site_title a:link, h1.site_title a:visited, h1.site_title a:hover, h1.site_title a:active {
	border: 0px;
}

h2.search {
display: none;
}

select#search_field.search_field {
	background: transparent;
	border: none;
	position: absolute;
	left: 532px;
	top: 15px;
}

/* Search Box */

#search {
 
 
}

#search-breadcrumbs h2 {
	 
	font-size: 1.25em;
	color: #999;
	margin-left: 10px;
}
 #home-search #search.search{
 
	 position: relative;
	margin-left: 130px;
}
 #search-breadcrumbs #search.search{
	margin-left: 40px;
	margin-top: 20px;
}
 

div#breadcrumbs {
	margin-left: 10px;
	margin-top: .5em;
}

#home-search {
	background: url(home-search-bg.png) no-repeat 161px;
	padding-top: 30px;
	padding-bottom: 30px;
}



#search-wrap {
	width: 624px;
	margin: 0 auto;
	position: relative;
}

#recently-updated dt {
	 float: right;
	margin-right: .5em;
	 margin-bottom: 1em;
}

#recently-updated dt:before{
	content: "by:";
	font-weight: normal;
	color: #888;
}

#recently-updated dd {

 float: right;
}

div#main.container {
  padding-left: 10px;
  padding-right: 10px;
	background: url('bg-grid-texture.gif');
	min-height: 600px;
	-moz-box-shadow: 1px 4px 8px #333;
	-webkit-box-shadow: 1px 4px 8px #333;
	box-shadow: 1px 4px 8px #333;
	padding-top: 1em;
	margin-top: 1px;
}
 #content{
 

}

div.page {
		min-height: 600px;
}

h1.content-title {
	/*font: 2em Georgia, "Times New Roman", Times, serif;
	
	margin-top: .5em;
	margin-bottom: 1em;*/
	
	padding: .5em .5em;
 
	 text-align: center;
 
	background: #122D62 ;
	 
	/*background: -moz-linear-gradient(top, #284585, #122D62);
	background: -webkit-gradient(linear, left top, left bottom, from(#284585), to(#122D62));*/
    color: white;
 
    
    text-shadow: black 2px 2px 0px;
	text-transform: uppercase;
	letter-spacing: .2em;
	 
		font: 1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 1em;
	

}


h2.content-title, .browse-list h3 {
	/*font: 2em Georgia, "Times New Roman", Times, serif;
	
	margin-top: .5em;
	margin-bottom: 1em;*/
	
	padding: .5em .5em;
 
	 text-align: center;
 
 
	 
	/*background: -moz-linear-gradient(top, #284585, #122D62);
	background: -webkit-gradient(linear, left top, left bottom, from(#284585), to(#122D62));*/
    color: #333;
 
    
  
	text-transform: uppercase;
	letter-spacing: .2em;
	 
		font: 1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 
	

}

div.item-column {
	float: left;
	width: 229px;
	margin-left: 64px;
	margin-top: 30px;
	margin-bottom: 30px;
}


#hd-mini {
width: 950px;
height: 30px;
position: fixed;
top: 0;
background: -moz-linear-gradient(top, #F5FBFF, #EAF5FF);
background: -webkit-gradient(linear, left top, left bottom, from(#F5FBFF), to(#EAF5FF));
-moz-box-shadow: 0px 1px 4px #333;
-webkit-box-shadow: 0px 1px 4px #333;
box-shadow: 0px 1px 4px #333;

display: none;
}
#hd-mini.visible{
	display: block;
}
#search-mini {
	float: left;
	
}

#hd-mini .pagination{
	float: right;
}

div.back-to-search {
	background: url(back-to-search-bg.png) no-repeat;
	height: 35px;
	padding-top: 10px;
	padding-left: 22px;
 
}

#search #q {
	
	color: #444;
	padding-top: 3px;
	padding-bottom: 3px;
 
	height: 20px;
	float: left;
	margin-top: 3px;
	 width: 275px;
}

#split_button {
	 
	 
}
#split_button .button_set {
 	 
 	 float: left;
 	 margin-left: 5px;
 	 width: 200px;
}

#split_button .drop_down {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background-color:white;
	text-align:left;
	position:absolute;
	  
	z-index:1;
	 
	width: 93px;
	padding: 8px 5px 10px;
	left: 303px;
	top: 33px;
}

#split_button .drop_down ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#split_button .drop_down li {
	padding:0 5px;
	border:1px solid white;
	cursor:pointer;
	white-space: nowrap;
}
#split_button .drop_down li:hover {
	border:1px dotted #CCCCCC;
}
#split_button .drop_down li a {
	color:black;
}
#split_button .drop_down li:hover a {
	color:white;
}
#split_button .drop_down li a:hover {
	border:none;
	color:white;
}
#split_button .drop_down li:hover, #search_modifiers .drop_down li:hover {
	background: none repeat scroll 0 0 #555555;
}



 

#search .submit {
	 
 
	text-transform: uppercase;
	position: absolute;
	left: 615px;
	top: 19px;
	/*display: inline;
	margin-left: -126px;*/
 
}

#search h2 {
	 
}

#search hr {
	display: none;
	margin: 1em 0;
	margin-top: 2em;
}

/* Content */

/*table.zebra .zebra_stripe, ul.zebra .zebra_stripe {
	background-color: #F1F5FA;
}

th, td {
	border: 0;
}*/

 /*Facets*/ 

 



#facets li {
 
	color: #a5a4c9;
	padding: .25em 0 .25em 0px;
	list-style-type: none;
}


 

#facets a:hover{
	text-decoration: underline;
}

#facets li a.remove {
	color: #red;
	font-weight: bold;
	border-bottom: none;
}

a.btnRemove.imgReplace {
	border-bottom: none;
}
 

#facets span.selected {
	 
 
	font-weight: bold;
	color: navy;
}

/*li.facet_unselected {
	background: url(facet-toggle-ui.png) no-repeat 0 5px;
}


li.facet_selected {
	background: url(facet-toggle-ui.png) no-repeat -1px -16px;
	font-weight: bold;
}

li.facet_selected:hover {
	background: url(facet-toggle-ui.png) no-repeat -1px -36px;
}*/

#facets li.more_facets_link {
	text-align: right;
	margin-right: .5em;
}

ul.facet_extended_list {
	padding-bottom: 1em;
	margin: 0;
	padding-left: .75em;
	margin-top: .75em;}

ul.facet_extended_list li a {
        border-bottom: none;
		padding: .25em 0 .25em 14px;
}

.facet_extended_list {
	text-align: left;
	list-style-type: none;	
}
a.facet_deselect{
	
	padding-right: 18px;
	background: url(link-ui.png) no-repeat 100% 4px;
	display: inline-block;
	width: 94%;
	font-weight: bold;
	color: #2D2A62;
	border-bottom: none;
	text-decoration: none;
}

 a.facet_deselect span.item_count {
	font-weight: normal;
	color: #a5a4c9;
}

a.facet_deselect:hover{
	    color: white; 
    background: url(link-ui.png) no-repeat 100% -16px;
}

a.facet_select{
	/*background: url(facet-toggle-ui.png) no-repeat -1px 20px;*/
}

#facets div ul li{
	padding-right: 7px;
	padding-left: 7px;
	margin-bottom: .25em;
	margin-right: .5em;
}
#facets div ul li.facet_selected {
		
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	background: #EAF5FF;

	-moz-box-shadow: 1px 2px 2px #333;
    -webkit-box-shadow: 2px 2px 4px #777;
    box-shadow: 2px 2px 2px #333;
	border: 0 solid #779BC3;
}
a.facet_select:hover{
 
 	
	}



span.item_count{
	 display: inline;
}

/* for our ajaxy dialog to make sure we're overriding the yui global text-align: center */

.facet_extended_list .sort_options {
	text-align: right
}

/* Solr Query */

.solrQuery {
	
	display: none;
	position: absolute;
	bottom: 0;

}

/* Page Navigation */

.constraints {
	margin: 0px;
	padding: 0px;
}

.pagination {
	padding-right: 1em;
    text-align: right;
	padding-top: .5em;
	padding-bottom: .5em; 
 
	background: #e1e1e6;
	background: -moz-linear-gradient(top, #e6e6e6, #CCC);
	background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#ccc));

	
}

.pagination h2 {
	display: none;
}

#results_text {
	display: none;
}

.pagination span.current{
	background: transparent;
	color: navy;
}

#pagination a, #pagination span {
	padding:  5px;
	 
	border-bottom: none;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
 
 
	
	  
     
    float: left;
    margin-right: 1px;
    text-decoration: none;
    /*color: #105CB6;*/
    
}

 .prev_next_links{
	float: right;
}
    
    
     .prev_next_links span.disabled {
    color: #999;
    border: 1px solid #DDD; }

#pagination div.page_links span.current {
	 color: silver;
}
    
    
.prev_next_links:after {
     }


.prev_next_links .prev_page {
 
  
 	padding-left: 1em;
	padding-right: 1em;
	margin-left: .5em;
	 
 }
div.page_links a.next_page, div.page_links span.disabled.prev_page{
	display: none;
}

#pagination span.gap {
	border: none;
	padding: 0;
	margin-top: 11px;
	margin-right: 7px;
	margin-left: 6px;
	color: silver;
}

 

.prev_next_links .next_page{
 
   
 
 
 	margin-right: .5em;
	padding-right: 1em;
	padding-left: 1em;
	
}

#prev-next-links {
	float: right;
}

 

 


#sortAndPerPage {
 
 	margin-top: .5em;
 	margin-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	
	
	  background: rgba(255,255,255,.7);
 border: 3px solid white; 
 	-moz-box-shadow: 3px 3px 3px #777;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 1px 3px #777;
 }

/* Search Results */

.document {
	 
 
	border: 1px solid #999;
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
	padding: 1em;
	background: rgba( 256, 256, 256, 0.6);
	-moz-box-shadow:    3px 3px 3px #777;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    box-shadow:         3px 1px 3px #777;

	
  

}

 

 




/*#documents .per_page {
	padding-right: 5px;
}*/

/*#documents #results_label {
	margin-left: 5px;
}*/

/* Result List (http://www.quirksmode.org/css/clearing.html) */

h3.index_title {
    
    font-size: 1.25em;
    line-height: 1.5em;
	font-weight: bold;
	padding-left: 2em;
	padding-right: 1em;
}

dl {
	margin: 0px;
	padding: 0px;
}

dl.defList {
	/*overflow: auto;*/
	padding: 0.5em 0;
}

dl.defList dt {
	float: left;
	text-align: right;
	width: 20%;
	/*clear: both;*/
	color: #888;
	margin: 0;
	padding: 2px .5em 2px 0px;
	font-weight: normal;
}

dl.defList dd {
	float: left;
	text-align: left;
	margin: 0;
	padding: 2px 0;
	width: 450px;
	 
}

/* Individual Result Listing */
#document {
	border: 1px solid #999;
	margin-top: .5em;
	margin-right: .5em;
	padding: 2em;
	background: rgba( 256, 256, 256, 0.5);
	-moz-box-shadow: 3px 3px 3px #777;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 1px 3px #777;

}

#document div.document{
	border: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	background: transparent;
	padding: 0;
	
}


#document h1 {
	
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: white 2px 2px 0;
	text-align: left;
	white-space: normal;
	direction: ltr;
	margin-top: 1em;
	margin-bottom: 1em;
}

#document h2{
	/*border-top: 1px solid silver;
	border-bottom: 1px solid silver;*/
	font-size: 1.25em;
	display: inline;
	padding-top: 4px;
	padding-bottom: 3px;
}
#marc_view {
	padding: 5px;
	text-align: left;
}

#marc_view .ind1, #marc_view .ind2 {
	padding: 0 5px;
	display: inline;
}

#marc_view .tag_ind {
	float: left;
}

#marc_view .subfields {
	padding-left: 5em;
}

#marc_view .field {
	clear: both;
	border-bottom: 1px solid #CCCCCC;
}

#librarian_view {
	top: 10%;
	left: -17%;
	text-align: left;
	width: 700px;
}

/* Lightbox element */

/* Search History */

.search_history .query > a {
	display: block;
	border-bottom: none;
}

.search_history .constraint {
	display: block;
	text-indent: -2em;
	padding-left: 2em;
}

.search_history .constraint .search {
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.search_history td {
	vertical-align: top;
}

.search_history .filterName, .search_history .label {
	color: gray;
}

.search_history .constraint {
	margin-right: 2em;
}

.search_history .constraint:last-child {
	margin-right: 0;
}

/* FORMS */

form div.row label {
	float: left;
	width: 120px;
	text-align: right;
	margin-right: .5em;
}

form div.row {
	clear: both;
	margin-bottom: .5em;
}

form div.row.submit {
	margin-left: 130px;
}

 

h2#results_label {
	font-size: 100%;
}

h2#results_label, form.sort {
	display: inline;
	padding-left: .5;
}

/*textarea {
	width: 30em;
	height: 15em;
}*/

.fieldWithErrors {
	display: inline;
}

.fieldWithErrors label {
	color: darkred;
}

/* Show Tools */

ul.tools {
	margin: 0px;
	padding: 0px;
	text-align: right;
}

ul.tools li {
	display: inline;
	margin: 0 10px;
}

/* Lightbox */

.lightboxTitle {
	background-color: #cccccc;
	width: 100%;
	color: black;
}

.lightboxBack {
	float: right;
}

#lightboxContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 99.9%;
	height: 99.9%;
	background-color: #000000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align: center;
	z-index: 9;
}

#lightboxContent, .lightboxContent {
	position: absolute;
	display: block;
	background-color: #EFEFEF;
	border: 3px solid #DEDEDE;
	top: 25%;
	left: 25%;
	width: 50%;
	height: auto;
	padding-bottom: 10px;
	text-align: center;
	opacity: 1.0;
	filter: alpha(opacity=100);
	z-index: 10;
}

/* Tag Cloud */

.tagCloud1 {
	font-size: 1.0em;
}

.tagCloud2 {
	font-size: 1.2em;
}

.tagCloud3 {
	font-size: 1.4em;
}

.tagCloud4 {
	font-size: 1.6em;
}

#userBookmarks div {
	
}

#login form {
	margin-bottom: 1em;
}

/*.error, .notice, .errorExplanation {
	background-color: lightyellow;
	padding: 1em;
	margin-bottom: 1em;
	border: solid 1px #CDC;
}

.error, .notice {
	font-size: 1.5em;
}

.error, .errorExplanation {
	color: #C30;
}*/

.notice {
	color: #060;
}

/* IE 6 Adjustments */

* html #hd .yui-g .yui-u {
	margin-top: -5em;
}

* html #hd .yui-g .first {
	margin-top: 2em;
}

* html #search {
	left: -1.8em;
}

/********** PRINT ***********/

@media print {

body {
	background: none;
	padding: 0px;
}

/*#hd {
	margin: 0;
	padding: 0 0 2em 0;
}*/

/*.yui-t2 {
	background: none;
	border: 0px;
	margin: 0px;
}*/

.first {
	margin: 2em 0px 0px 0px;
}

/*#doc1, #doc2, #doc1, #doc4 {
	width: 100%;
	margin: 0;
	padding: 0;
}*/

/*#bd {
	padding: 0;
}*/

/*#yui-main {
	position: relative;
	width: 100%;
}*/

.yui-t2 #yui-main .yui-b {
	border-left: 1px dotted #ccc;
	/*padding: 2em 0 2em 1em;*/
	/*position: relative;*/
	/*margin-left: 150px;*/
}

/*.yui-t2 .yui-b {
	float: none;
	width: 130px;
}*/

.yui-t2 .yui-b p {
	padding-top: 2em;
}

 


/* IE 6 Adjustments */
 
 

/** html #documents {
	width: 75%;
}*/

}

/* search constraints/filter block */

/* ========================
Search Parameters
======================== */

#appliedParams {
	margin-bottom: 0 !important;
	margin-right: 1em;
 

}

 
#appliedQueries,
#appliedFilters {
	
}

#appliedParams h3 {
 
	 
	margin: 0 0 3px 0;
	background: #fff7e5;
	border: 1px solid #e0d9ca;
	overflow: visible;
    color: #555;
}

#appliedFilter img {
	/*position: absolute;
	left: 5px;
	bottom: -8px;
	z-index: 5;*/
}

 li.appliedFilter.constraint.filter img {
	/*position: absolute;*/
}

 

li.appliedFilter {
	
	list-style-type: none;
    
    padding-left: 4px;
	
	float: left;
	 
	line-height: 1.5em;
		
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	
	background: #EAF5FF;
	
	padding-right: 7px;
	padding-left: 7px;
	
	-moz-box-shadow: 0px 1px 4px #333;
    -webkit-box-shadow: 0px 1px 4px #333;
    box-shadow: 0px 1px 4px #333;
	margin-bottom: 5px;
	margin-right: 5px;
}

li.highlight, #facets div ul li.facet_selected.highlight{
	background: #5285B8;

}

 

li.appliedFilter:hover {
	
	
 
	
	}

span.join {
	float: left;
	font-weight: bold;
	font-size: 1.5em;
	color: gray;
	padding-right: .3em;
	padding-left: .3em;
	line-height: .8em;
	padding-bottom: .65em;
}

li.appliedFilter a{
    color:#314E83;
    padding-top: .15em;
    padding-bottom: .15em;
    border-bottom: none;
   
	padding-right: 18px;
	background: url(link-ui.png) no-repeat 100% 4px;
 
}



li.appliedFilter a:hover{
 
    color: white; 
    background: url(link-ui.png) no-repeat 100% -16px;
}


li.appliedFilter.empty {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	background: #bcbcbc;
	padding-right: 20px;
	padding-left: 20px;
}
 
ul.breadcrumb{
	margin: 0;
	padding: 0;
}

 
 

ul.breadcrumb h3 {
  
	font-size: 1em;
	  width: 67px;
	 float: left;
	text-align: right;
	font-weight: bold;
	padding: .25em 0 12px;
	margin: 0 .5em 4px 0;
	color: gray;
}

span.filterValue {
 
	 font-weight: bold;
	}
 

 
ul#appliedFiltersList,
	ul#appliedQueriesList,
	ul#appliedFiltersList li,
	ul#appliedQueriesList li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.appliedFilter {
	/*display: block;*/
	/*position: relative;*/
	/*overflow: visible;*/
	/*float:left;
	background: #e2edfe;*/
	/*padding: 5px;
	margin-bottom: 3px;*/
	/*border: 1px solid #c4dafe;*/

}
div#search-breadcrumbs {
 
padding: .5em;
 
 border: 3px solid white; 
 	-moz-box-shadow: 3px 3px 3px #777;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 1px 3px #777;
	background: rgba(255,255,255,.7) url(breadcrumb-bg.png) no-repeat;
}

 .ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

 

#appliedParams div {
	position: relative;
	padding: 10px;
	background: #c9d484;
}

.appliedFilter .btnRemove {
	/*display: block;
	position: absolute;
	z-index: 5;
	right: 0px;
	top: 0;
	width: 32px;
	height: 100%;
	background: url(remove.gif) no-repeat center center;
	border-left: 1px solid #d0daea;*/
}



.appliedFilter span.first {
	
}

.appliedFilter span.first span {
	position: relative;
}

.appliedFilter span.first span.filterName {
	display: inline;
	border: 0;
}

 

#appliedParams a:link {
	text-decoration: underline;
}

#appliedParams a:hover {
	
}

a img#rssLink{display:block; float:right; margin-top: -10px;}



 a#startOverLink {
 
	 
  /*top:30%;
  left: 10px;
	padding: 3px 10px 3px 10px;
	line-height: 22px;
	text-decoration: none;
	color: #fff;
	background: url(start_over.gif) no-repeat center center;
		border-bottom: none;*/

 float: right;
 font-weight: bold;
 
 	list-style-type: none;
    
    padding-left: 4px;
	
 
	 
	line-height: 1.5em;
		
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    border-radius: 15px;
	
	background: #EAF5FF;
	
	padding-right: 7px;
	padding-left: 7px;
	
	-moz-box-shadow: 0px 1px 4px #333;
    -webkit-box-shadow: 0px 1px 4px #333;
    box-shadow: 0px 1px 4px #333;
	margin-bottom: 5px;
	margin-right: 5px;

}

div#page-count {
	float: left;
 	 
}

#page-options {
		float: right;
		 
		 
		text-align: right;
		width:300px
}

#page-options select{
	margin: 0;
}

form.per_page {
	display: inline;
	margin-right: 1em;
}

#sort_form {
	display: inline;
}

 

#search-breadcrumb h2 {
	color: #888;
	text-align: center;
	font-size: 1.5em;
	
}

#startover {
	float: left;
}

div#crumbs {
	float: left;
}

#appliedParams a#startOverLink:hover {
	background-color: none;
}

#appliedParams a#startOverLink span {
	display: none;
}

.appliedFilter .queryName, .appliedFilter .filterName {
	 margin-left: .25em;
	/*background: url(separator.gif) no-repeat right center;*/
}


body {
	background: #eee	
}

div.browse-list {
	background: rgba(255,255,255,.5);
}

div.browse-list a {
font-weight: bold;
} 
div.browse-list ul{
	padding-left: .5em;
}
 

body.single-col #page {
	padding: 2em;
	min-height: 600px;}

 
#descriptive_information .label {
  font-weight: bold; 
  
  }

#rooftop{
 
 height:18px

}

#rooftop img{

	margin-top: 2px;

}

#rooftop a{
	
	font-size: 1.1em;
	margin-left: 2px;
	vertical-align: 2px;
	text-decoration: none;
	border: none;
}

#facets ul {
	/*border-bottom: 1px dotted #ccc;*/
	padding-bottom: 1em;
	margin: 0;
 	padding-left:.5em;
	margin-top: .75em;
}

#browse h1 {

}

 
#sidebar h3{
	 
	
	padding: .5em .5em;
	margin-bottom: 0;
	 
	cursor: pointer;
	background: url(main-header-background.png) no-repeat -539px -23px;
	border-bottom: 1px solid #C9E5FF;
	/*background: -moz-linear-gradient(top, #284585, #122D62);
	background: -webkit-gradient(linear, left top, left bottom, from(#284585), to(#122D62));*/
    color: white;
 
    
    text-shadow: black 2px 2px 0px;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 123.1%;
 

}
#facets h3 {
	
	padding: .5em .5em;
	margin-bottom: 0;
	 
	cursor: pointer;
	background: #122D62 url(accordion-closed.png) no-repeat 98%;
	border-bottom: 1px solid #C9E5FF;
	/*background: -moz-linear-gradient(top, #284585, #122D62);
	background: -webkit-gradient(linear, left top, left bottom, from(#284585), to(#122D62));*/
    color: white;
 
    
    text-shadow: black 2px 2px 0px;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 123.1%;
}

#top-slug .box{
 
 background: rgba(255,255,255,.5);
 border: 1px solid white;
 
 
}

#facet-wrapper {
	 background: rgba(255,255,255,.7);
 
 
}


#home-stats  {
	
	
 
 
}



#facets .facet_selected{
		background: #122D62 url(accordion-open.png) no-repeat 98%;
}

#facets h2 {
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	color: #2c3386;
	text-align: center;
	margin: 0;
}

#home-stats ul li,#home-news ul li{
	 margin-top: 1em;
}

#home-news ul{
	list-style-image: url(blue-check.png);
	list-style-position: inside;
}
 

#facets h3:hover{
	
	background: #154784 url(accordion-closed.png) no-repeat 98%;
	}
	
	
	#facets h3.facet_selected:hover{
		background: #154784 url(accordion-open.png) no-repeat 98%;
}


#facets div{
	margin-top: .5em;
	background-color: white;
	border: 1px solid #b8b8b8;
}

 

.facets-fixed{
	position: fixed;
	top: 50px;
}
.search-fixed{
	position: fixed;
	top: 0px;
	padding-top:0;
	
}
 

div#util_links{
	/*float: right;*/
 
	font-weight: bold;
}

img#cuLogo{
	float: right;
	margin-top: 13px;
}

span.index_counter {
	float: left;
	margin-left: -2em;
	color: #888;
 
}

 


 

#page {

 

 

   	 
}

div#hd {
	background: url(main-header-background.png) -10px;
}

a {
  text-decoration: none;
   
}
 

 

div.documentFunctions {
 text-align: right;
 margin-bottom: .5em;
}

.documentFunctions form{
	display: inline;
}

form#new_bookmark.new_bookmark {
 
}

#twitter{
	margin-right: 10px;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

div.school{
	 
	background: rgba(255,255,255,.6);
 	height: 62px;
  display: inline-block;
  float: left;
 	min-width: 225px;
 	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
	
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	box-shadow: 1px 1px 1px #999;
	border: 1px solid silver;
}



div.school:hover{
	 
 	
	-moz-box-shadow: 0px 4px 5px #999;
	-webkit-box-shadow: 0px 4px 5px #999;
	box-shadow: 0px 4px 5px #999;
	border: 1px solid silver;
}
div.school.columbia{
	background: url(college-sprites.gif) -2px 5px;
  margin-left: 125px;
}

div.school.barnard{
	background: url(college-sprites.gif) -222px 5px;
 
}
div.school.teachers{
	background: url(college-sprites.gif) -426px 5px;
	width: 148px;
}

div.school.jts{
	background: url(college-sprites.gif) -885px 5px;
	width: 164px;
	margin-left: 242px;
}

div.school.union{
	background: url(college-sprites.gif) -640px 5px;
	width: 170px;
}
#facets div h3  {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#colophon p{
	text-align: center;
	margin-top: 2em;
}

#most-recent {
	}

a.nav-link{
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	 
}

#home-content {
		background: rgba(255,255,255,.5);
	margin-bottom: 1em;
	margin-top: 1em;
}

#home-content-center {
	float:left; width:500px; margin-left:1em;
	padding-top: 25px;
}

/* jQuery UI facet dialogs */
.facet_extended_list {
	text-align: left;
}

.facet_extended_list .facet_pagination {
	text-align: right;
}
.facet_extended_list .facet_pagination .ui-state-active {
	border:none;
}
.facet_extended_list .facet_pagination .prev_next_links {
	float: left;
}

.facet_extended_list .top {
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:10px;
	padding-bottom:5px;
}

.facet_extended_list .bottom {
	border-top:1px dotted #CCCCCC;
	margin-top:10px;
	padding-top:5px;
}

.pagination .prev_next_links .prev_link {
	margin-right: 15px;
}

.facet_extended_list .prev_next_links .prev_page, .facet_extended_list .sort_options .az {
  padding-right:10px;
  margin-right:10px;
  border-right:1px solid #CCCCCC;	
}

.facet_extended_list .prev_next_links .next_page, .facet_extended_list .sort_options .numeric {
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {  background: transparent;   }


.ui-widget-header { border: 1px solid #4c84c6; background:#122D62;   color: #ffffff; font-weight: bold; }

#browse h1.content-title a {
	color: white;
	
}

.browse-list h3 {
	text-align: center;
}

/*#content form p label {
	display: block;
	width: 76px;
	float: left;
	text-align: right;
	margin-right: 1em;
	
}*/

/*self deposit form*/



input#accept {
	width: 15px;
	margin-left: 81px;
}

 

span.form-field-info {
 
	margin-left: 80px;
	display: block;
}

form.self-deposit-form input, form.self-deposit-form textarea {
 
	width: 400px; 
	font: 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	color: #444;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
}


form.self-deposit-form input#acceptedAgreement {
	 
 float: left;
 width: 18px;
}

form.self-deposit-form input#uni{
	width: 215px;
 

}
legend{
	color: #919292;
}

form #abstr{
	height: 200px;
	width: 400px;
}

span.check-label {
	display: block;
	width: 127px;
	float: left;
	text-align: right;
	margin-right: 9px;
	font-size: 14px;
	color: #868686;
}

span.check-value {
 display: block;
 
 margin-left: 137px;
	font-size: 14px;
	color: #252525;
}

form.self-deposit-form .error{
	border-width: 1px;
	border-color: #ff3900;
		  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  box-shadow:3px 3px 3px rgba(0,0,0,.2);
 
	
}

textarea {
	resize:vertical;
	
}

form#sd-form label {
	float: left;
    width: 110px;
 
	margin-right: 5px;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	margin-top: 7px;
	text-transform: uppercase;
}

 

#sd-form h3 {
 
	text-align: right;
	color: #838383;
	font-size: 1em;
}


span.warning {
 
   margin-top: .25em;
display: block;
margin-left: 115px;
 padding: 3px;
color: #2c2f28;
background-color: #fafeff;
width: 400px;
background
 
 
   /* fallback (Opera) */
    background: #008800;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #FFF, #EEE);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#FFF), to(#EEE));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#FFF', EndColorStr='#EEE', GradientType=1);
 
  }



textarea.warning, input.warning{
	border: 2px solid #3a71b8;
 
}

form#sd-form.self-deposit-form {
	font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; 
}
input:focus{
	border: 1px solid #3620fc;
}

 
h2.agreement-language {
	display: inline;
	font-size: 1em;
}

 


input[type=text], input[type=password], input.text, input.title, textarea, select {margin: 0;}

/* self deposit form lightbox */

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 10%;
    left: 50%;
    
    margin-left: -325px;
    width: 650px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
	z-index: 50000;
	 
		overflow: auto;
	height: 70%;
 
}

 

a#agree-button {
	display: block;
	background-color: white;
	padding: 10px;
	float: right; 
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
}

#depositor-info, #submission-info  {
	border: 1px solid white;
	margin-top: 1em;
	padding-top: 0;
	padding-bottom: 1em;
}

#submission-info h3 ,#depositor-info h3 {
	float: left;
	margin-top: -10px;
	background-color: white;
	padding: 4px;
	font-size: 1em;
	color: #2353a7;
	margin-bottom: 1em;
}


#cancel-button {
	display: block;
	float: left;
	padding: 10px;
}

#agreement_text{

}

 
#progress-indicator ul li {
	float: left;
	width: 25%;
	
}
ul#stepForm li {
	list-style: none;
}

#sd-form .ui-icon{
	display: none;
}

h3.stepHeader {
	margin-bottom: 1em;
}

#sd-form iframe{
	 background: white;
	margin-bottom: 1em;
}

form.self-deposit-form input.submitbutton,form.self-deposit-form .nextbutton,form.self-deposit-form .prevbutton, #start_button{
 width: 150px;
	height: 40px;
	 background: url(main-header-background.jpg) no-repeat -863px -53px;
	padding: 4px;
	border: 1px dotted #8b8f95;
	cursor: pointer;
	text-align: center;
	color: white;
	margin: 7px;
		font: 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		
		-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.2);
  box-shadow:3px 3px 3px rgba(0,0,0,.2);

}

form.self-deposit-form input.submitbutton:active,form.self-deposit-form .nextbutton:active,form.self-deposit-form .prevbutton:active, #start_button:active{

    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow:1px 1px 1px rgba(0,0,0,.2);



	}
 
form.self-deposit-form input.submitbutton:active,form.self-deposit-form .nextbutton:hover,form.self-deposit-form .prevbutton:hover, #start_button:hover{

 
	 background: url(main-header-background.jpg) no-repeat -863px -10px;
border: 1px dotted #bfc4cc;

	}
 

#start_button {
 margin-left: 189px;
 
 }

span.pdf-link {
	float: none;
	display: block;
	text-align: right;
}
 
.nextbutton {
	float: right;
}
#about-text div.about-video {
	float: right;
	margin-right: 68px;
		margin-left: 20px;
}

div#about-text {
background: rgba(255,255,255,.5);
 border: 1px solid white;
 margin-bottom: .75em;
 padding:12px;

}

#about-text h1 {
	color: #221d53;
	font: 34px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: .5em;
	text-transform: uppercase;
}

ul.how-to-videos li{
	margin-bottom: 1em;
	border-bottom: 1px dotted #939494;
	margin-right: 50px;
	height: 124px;
}

ul.how-to-videos li a:hover h2{
	color: #280dac;
	 
}

ul.how-to-videos li img {
	float: left;
	margin-right: 13px;
	margin-bottom: 8px;
	margin-top: 9px;
}

ul.how-to-videos li a:hover img {
	-moz-box-shadow:    2px 2px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.6);
    box-shadow:         2px 2px 5px rgba(0,0,0,.6);
}

 