/* header */

.navbar {
  margin-bottom: 0;
}

#header-navbar {

  & .navbar-brand {
    background-size: 100%;
    background-position: center;
    margin: 0 10px;
    width: 320px;

    @media screen and (min-width: $screen-md ) {
      height: 80px;
      margin: 0;
      max-width: 600px;
      width: 600px;
    }
  }

  & .navbar-nav {

    @media screen and (min-width: $screen-md ) {
      padding: 17px 15px 0 0;
    }

    & li a {
      margin-left: 10px;
    }
  }

  & .share-button {
    background: $body-bg;
    border: 2px solid $brand-primary;
    color: $brand-primary;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 8px;
    padding: 5px 10px;

    @media screen and (min-width: $screen-md ) {
      margin: 7px 0;
    }

    &:hover {
      border-color: $link-hover-color;
      color: $link-hover-color;
    }
  }
}

#search-navbar {
  background: $body-bg;
  border-bottom: 1px solid $gray-lighter;
  margin: 0 0 20px 0;

  & .about-links {
    line-height: 50px;
  }

  & .search-query-form {
    padding-right: 0;
  }

  & .navbar-form {

    & .form-control {
      border-radius: 3px;
    }

    & .input-group-btn {
      width: 1%;
    }
  }
}
