/* cul banner */

.cul-banner {
  background: $brand-dark;
  padding: 8px 10px;

  & .cul-banner-logo {
    background: transparent $logo-cul-banner no-repeat top left;
    background-size: contain;
    display: inline-block;
    width: 320px;
  }

  & .cul-banner-logo span {
    display: block;
    text-indent: -1000em;
  }
}

/* header */

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border-color: $gray-lighter;
}

#header-navbar {

  & .navbar-brand {
    background-size: 100%;
    background-position: center;
    margin: 0 10px;
    width: 320px;

    @media screen and (min-width: $screen-md ) {
      height: 80px;
      margin: 0;
      max-width: 600px;
      width: 600px;
    }
  }

  & .navbar-nav {

    @media screen and (min-width: $screen-md ) {
      padding: 17px 15px 0 0;
    }

    & li a {
      margin-left: 10px;
    }
  }

  & .share-button {
    background: $body-bg;
    border: 2px solid $brand-primary;
    color: $brand-primary;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 8px;
    padding: 5px 10px;

    @media screen and (min-width: $screen-md ) {
      margin: 7px 0;
    }

    &:hover {
      border-color: $link-hover-color;
      color: $link-hover-color;
    }
  }
}

#search-navbar {
  background: $body-bg;
  border-bottom: 1px solid $gray-lighter;
  margin: 0 0 20px 0;

  & .about-links {
    color: $gray-lighter;
    line-height: 50px;
  }

  & .about-links span {
    margin: 0 3px;
  }

  & .search-query-form {
    padding-right: 0;
  }

  & .navbar-form {
    margin: 7px 0;
  }

  & .navbar-form .input-group-btn {
    width: 1%;
  }

  & .input-group-addon.for-search-field {
    width: 10ch;
  }
}




/* footer */

.footer {
  border-top: 1px solid $gray-lighter;
  color: $gray-lighter;
  line-height: 1.7;
  margin: 10px 0 0 0;
  padding: 10px 15px;

  & .footer-links {
    margin: 0 0 20px 0;
  }

  & .footer-links a:last-child {
    white-space: nowrap;
  }

  & span {
    margin: 0 3px;
  }

  & .contact {

    @media screen and (min-width: $screen-md ) {
      text-align: right;
    }
  }
}
