/* headings */

h1,
h2,
h3 {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  margin: 20px 0;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.6;
  margin: 0 0 10px 0;
  max-width: 700px;
}

h4 {
  margin-bottom: 20px;
}




/* cul banner */

.cul-banner {
  background: $brand-dark;
  padding: 8px 0;
  text-align: center;

  & .cul-banner-logo {
    background: transparent $logo-cul-banner no-repeat top left;
    background-size: contain;
    background-position: left;
    display: inline-block;
    width: 250px;
  }

  & .cul-banner-logo span {
    display: block;
    text-indent: -1000em;
  }
}

@media screen and (min-width: $screen-md ) {

  .cul-banner {
    text-align: left;

    & .cul-banner-logo {
      width: 320px;
    }
  }
}





/* header */

#header-navbar {
  border-bottom: 1px dotted $gray-lighter;
  margin: 0;
  padding: 20px 0 0 0;

  & .navbar-brand {
    background-size: contain;
    width: 100%;
  }

  & .logo {
    padding: 0;
    z-index: 1000;
  }

  & .search-bar {
    padding: 0;
  }

  & .navbar-form {
    border: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  & .navbar-form,
  & .search-query-form,
  & .input-group {
    width: 100%;
  }

  & .form-control {
    border-right: 0;
    box-shadow: none;
  }

  & .input-group-btn {
    width: 1%;
  }
}

@media screen and (min-width: $screen-sm ) {

  #header-navbar {
    padding: 20px 0;

    & .search-bar {
      padding-left: 15px;
    }

    & .navbar-brand {
      background-position: left;
    }

    & .navbar-form {
      margin: 7px 0;
      padding: 0 0 0 15px;
    }
  }
}





/* links navbar */

#links-navbar {
  border-bottom: 1px solid $gray-lighter;
  box-shadow: 0 1px 2px $gray-lighter;
  color: $gray-lighter;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 5px 0;
  text-align: center;

  & ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & li {
    display: inline-block;
  }

  & li a {
    display: inline-block;
    margin: 0 -4px;
    padding: 11px 15px;
  }

  & li a:hover {
    background: $gray-lighter-custom;
    text-decoration: none;
  }

  & .about-links,
  & .user-links {
    display: inline;
  }

  & .about-links {
    padding: 0;
  }

  & .user-links {
    padding: 0;
  }
}

@media screen and (min-width: $screen-sm ) {

  #links-navbar {
    font-size: 16px;
    margin: 0 0 30px 0;
    padding: 0;

    & li a {
      padding: 18px 13px;
    }

    & .about-links {
      padding-left: 7px;
      text-align: left;
    }

    & .user-links {
      border: none;
      padding-right: 7px;
      text-align: right;
    }

    & .share-button {
      // border: 1px solid $brand-primary;
      // border-radius: 3px;
      font-weight: bold;
      // padding: 5px 10px;
    }

    & .share-button:hover {
      // background: $brand-primary;
      // color: $body-bg;
      // text-decoration: none;
    }
  }
}












/* work page */

.pagination-search-widgets {
  border: 0;
  border-bottom: 1px dotted $gray-lighter;
  color: $gray-light;
  font-size: 12px;
  letter-spacing: .2px;
  margin: 0 0 13px 0;
  padding: 0 0 13px 0;
  text-transform: uppercase;
  text-align: center;

  & a {
    color: $gray-base;
    font-weight: 500;
  }

  & .search-widgets {
    display: inline-block;
    margin: 0 25px 0 0;
  }

  & .page_links {
    display: inline;
    padding: 0;
  }

  & .results-counter {
    display: block;
    margin: 0 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: $screen-sm ) {

  .pagination-search-widgets {
    text-align: left;

    & .results-counter {
      display: inline;
      margin: 0 0 0 25px;
      padding: 0;
    }
  }
}


/* item page */

/* item page - main content */

#document {

  & h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 12px 0;
  }

  & .blacklight-author_ssim {
    color: $gray-light;
    margin: 12px 0 30px 0;
  }

  & p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 30px 0;
  }

  & .subjects h4 {
    border-bottom: 1px dotted $gray-lighter;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  & .subjects ul {
    columns: 2;
    margin: 0 0 30px 0;
    padding: 0;
  }

  & .subjects li {
    font-size: 14px;
    list-style: none;
    margin: 0 0 12px 0;
  }

  & .panel {
    box-shadow: none;
  }

  & .panel-title {
    font-size: 16px;
    font-weight: bold;
  }

  & .panel-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  & .panel-heading .download-all {
    display: inline-block;
    font-weight: bold;
  }

  & .panel p {
    padding: 15px;
  }

  & .list-group {
    border-bottom: 1px dotted $gray-lighter;
  }

  & .list-group:last-child {
    border-bottom: 0;
  }

  & .list-group-item {
    align-items: center;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
  }

  & .list-group-item span {
    padding: 3px 0;
    width: 100%;
  }

  & .list-group-item span.image img {
    border: 1px solid $gray-lighter;
    margin-right: 10px;
    max-height: 50px;
  }

  & .list-group-item span.filename {
    font-weight: 600;
    word-break: break-all;
  }

  & .list-group-item span.filesize,
  & .list-group-item span.mimetype {
    color: $gray-light;
  }

  & .list-group-item span.download {
    font-size: 20px;
  }

  & dl {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
  }

  & dt {
    padding-top: 20px;
  }

  & dt:first-child {
    padding-top: 0;
  }
}

/* item page - sidebar */

.show-tools {
  box-shadow: none;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & h4 {
    color: $gray-light;
    font-size: 12px;
    margin: 20px 0 7px 0;
  }

  & .download-button {
    width: 100%;
  }

  & .permanent-link textarea {
    background: $body-bg;
    border: 0;
    border: 1px solid $gray-lighter;
    box-shadow: inset 0 0 3px #ddd;
    color: $gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    overflow: auto;
    padding: 10px;
    resize: none;
    white-space: nowrap;
    width: 100%;
  }

  & .permanent-link textarea:focus {
    color: $brand-dark;
  }

  & .social-buttons {
    padding-top: 20px;
  }
}

@media screen and (min-width: $screen-md ) {

  #document {

    & h1 {
      font-size: 31px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 12px 0;
    }

    & .blacklight-abstract {
      padding-right: 10%;
    }

    & .subjects ul {
      columns: 4;
    }

    & .list-group-item span {
      flex: .5 0 0;
      padding: 0;
      width: auto;
    }

    & .list-group-item span.filename {
      flex: 3 0 0;
      margin-right: 10px;
    }

    & .list-group-item span.filesize,
    & .list-group-item span.mimetype {
      margin: 0 10px;
    }

    & .list-group-item span.download {
      flex: .3 0 0;
      text-align: right;
    }

    & dt,
    & dt:first-child {
      float: left;
      line-height: 1.8;
      padding: 0;
    }

    & dd {
      line-height: 1.8;
      margin-left: 18%;
    }
  }
}





/* search results page */

.well {
  background: $gray-lighter-custom;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  // border: 3px solid $gray-lighter;
  border: none;
  box-shadow: none;
}

.constraints-container {
  margin-bottom: 25px;
  padding: 13px 19px;
}

#sortAndPerPage {
  font-size: 14px;
  margin: 0;
  padding-bottom: 10px;
}

#sort-dropdown .dropdown-toggle,
#per_page-dropdown .dropdown-toggle {
  color: $gray-base;
  font-size: 14px;
}

/* search results - main content */

#documents {
  margin-bottom: 30px;

  & .document {
    margin: 0;
    padding: 25px 0;
  }

  & .document-counter {
    display: none;
  }

  & .document .document-title-heading {
    font-size: 21px;
    letter-spacing: .2px;
    line-height: 1.3;
    margin: 0 0 10px 0;
  }

  & .document-metadata dd {
    color: $gray-light;
    font-size: 14px;
    margin: 0;
  }

  & dl {
    margin: 0;
  }

  & dd.blacklight-author_ssim {
    margin: 0 0 13px 0;
  }

  & dd.blacklight-pub_date_isi,
  & dd.blacklight-genre_ssim {
    @include label-plain;
  }

  & dt.blacklight-genre_ssim,
  & dt.blacklight-pub_date_isi {
    display: none;
  }
}




/* static pages */

#static-text {
  margin: 0 15px;

  // & h1,
  // & h2,
  // & h3 {
  //   font-size: 33px;
  //   font-weight: bold;
  //   line-height: 1.4;
  //   margin: 0 0 20px 0;
  // }
  //
  // & h2 {
  //   font-size: 27px;
  //   font-weight: 500;
  //   margin: 0 0 20px 0;
  // }
  //
  // & h3 {
  //   font-size: 17px;
  //   font-weight: bold;
  //   line-height: 1.6;
  //   margin: 0 0 10px 0;
  //   max-width: 700px;
  // }

  & p,
  & ul {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 30px 0;
    max-width: 700px;
  }

  & p.anchor-links {
    color: $gray-light;
    font-size: 15px;
    max-width: none;
  }
}




/* facets sidenav */

#facets {

  & h2.facets-heading {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  & h3.facet-field-heading {
    font-size: 14px;
    font-weight: normal;
  }

  & .panel-heading {
    padding-left: 15px;
  }

  & .facet_limit .panel-heading {
    background: $body-bg;
  }

  & .facet_limit-active .panel-heading {
    background: $gray-lighter-custom;
  }

  & .panel-group .panel-heading:hover {
    background-color: $gray-lighter-custom;
  }

  & .panel-group {
    border-bottom: 1px solid $gray-lighter;
  }

  & .panel {
    border: 0;
    border-radius: 0;
    border-top: 1px solid #ddd;
    box-shadow: none;
    font-size: 14px;
    margin: 0;
  }

  & .panel-heading.collapse-toggle .panel-title:after {
    color: $gray-base;
  }

  & .facet-count {
    width: 3.5em;
  }

  & .remove .glyphicon {
    top: 0.15em;
  }

  & .remove {
    text-indent: 7px;
  }
}


@media screen and (min-width: $screen-md ) {

  #facets {

    & h2.facets-heading {
      margin: 0;
    }
  }
}



/* homepage */

#home-content {

  & h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  & h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  & p.intro {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: .4px;
    line-height: 1.8;
    margin: 15px 0 45px 0;
    max-width: 975px;
  }

  & p.intro strong {
    font-size: 25px;
  }

  & .links {
    font-weight: 300;
    padding-bottom: 30px;
  }

  & .links a {
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    // box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.15));
    box-shadow: 0 15px 35px rgba(50,50,90,.1), 0 5px 10px rgba(0,0,0,.05);
    display: block;
    margin: 0 0 30px 0;
    min-height: 200px;
    padding: 30px 35px;
  }

  & .links .top {
    align-items: center;
    display: flex;
    padding: 0 0 10px 0;
  }

  & .links .top svg {
    display: inline-block;
    fill: $brand-primary;
    flex: 1 0 0;
    margin-right: 6px;
    max-width: 40px;
  }

  & .links .top svg path {
    fill: $brand-primary;
  }

  & .links .top h2 {
    display: inline-block;
    flex: 1 0 0;
    margin: 0;
  }

  & .links a p {
    color: $gray-base;
    line-height: 1.6;
  }

  & .links a:hover {
    border-color: $brand-dark;
    color: $brand-dark;
    text-decoration: none;
  }

  & .links a:hover svg,
  & .links a:hover svg path,
  & .links a:hover p {
    color: $brand-dark;
    fill: $brand-dark;
  }

  & .featured-wrapper {

    border-top: 1px solid $gray-lighter;

    // background: lighten($gray-lighter-custom, 1%);

    // background-image: -webkit-gradient(
    // 	linear,
    // 	left top,
    // 	left bottom,
    // 	color-stop(0, #F3F5F3),
    // 	color-stop(1, #FFFFFF)
    // );
    // background-image: -o-linear-gradient(bottom, #F3F5F3 0%, #FFFFFF 100%);
    // background-image: -moz-linear-gradient(bottom, #F3F5F3 0%, #FFFFFF 100%);
    // background-image: -webkit-linear-gradient(bottom, #F3F5F3 0%, #FFFFFF 100%);
    // background-image: -ms-linear-gradient(bottom, #F3F5F3 0%, #FFFFFF 100%);
    // background-image: linear-gradient(to bottom, #F3F5F3 0%, #FFFFFF 100%);

    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: auto;
    left: 50%;
  }

  & .featured {
    margin: 0 0 20px 0;
    padding: 40px 0 30px 0;
  }

  & .featured h2 {
    color: lighten($gray-light, 10%);
    font-size: 25px;
    margin-bottom: 52px;
  }

  & .stats {
    margin: 0 0 30px 0;
  }

  & .stats span {
  	display: inline-block;
    font-size: 2rem;
  	font-weight: 500;
  	min-width: 75px;
  	padding: 0 8px 0 0;
  }

  & .stats ul {
    margin: 0;
    padding: 0;
  }

  & .stats li {
    border-bottom: 1px solid $gray-lighter;
  	display: block;
  	line-height: 2;
  }

  & p.quote {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 0 30px 0;
  }

  & p.quote span {
    color: $gray-light;
    font-size: 14px;
    font-weight: 400;
  }
}


/* footer */

.footer {
  border-top: 1px solid $gray-lighter;
  color: $gray-lighter;
  font-size: 14px;
  line-height: 1.7;
  margin: 10px 0 0 0;
  padding: 10px 15px;

  & .footer-links {
    margin: 0 0 20px 0;
  }

  & .footer-links a:last-child {
    white-space: nowrap;
  }

  & span {
    margin: 0 3px;
  }

  & .contact {

    @media screen and (min-width: $screen-md ) {
      text-align: right;
    }
  }
}
