@import 'mediaelement/build/mediaelementplayer.min.css';

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.not-playable {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
