/* headings */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: 1.3;
}

h2 {
  font-size: 30px;
  line-height: 1.3;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (min-width: $screen-md ) {

  h1 {
    font-size: 47px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 21px;
  }
}
