/* headings */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 47px;
  font-weight: bold;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  margin-top: 25px;
}


// h1,
// h2,
// h3,
// h4,
// h5 {
//   font-size: 33px;
//   font-weight: bold;
//   line-height: 1.4;
//   margin: 0 0 20px 0;
// }
//
// h2 {
//   font-size: 27px;
//   font-weight: 500;
//   margin: 20px 0;
// }
//
// h3 {
//   font-size: 17px;
//   font-weight: bold;
//   line-height: 1.6;
//   margin: 0 0 10px 0;
//   max-width: 700px;
// }
//
// h4 {
//
// }
//
// h4.suggest {
//   font-size: 18px;
//   margin-bottom: 20px;
// }
