body {
  color: $gray-base;
}

/* headings */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 21px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p.summary,
#main-page p.summary {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  max-width: 700px;
}

p.summary a,
#main-page p.summary a {
  font-weight: 500;
  text-decoration: none;
}

p.summary strong {
  font-weight: 500;
}

@media screen and (min-width: $screen-md ) {

  p.summary,
  #main-page p.summary {
    font-size: 20px;
    letter-spacing: .4px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }
}

/* alerts */

#main-flashes {
  margin-top: 10px;
}

.alert a {
  font-weight: bold;
}

/* visually hidden text */

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
