/* headings */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 36px;
  line-height: 1.3;
}

h2 {
  font-size: 30px;
  line-height: 1.3;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

p.summary,
#main-page p.summary {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 700px;
}

p.summary a,
#main-page p.summary a {
  text-decoration: none;
}

@media screen and (min-width: $screen-md ) {

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 21px;
  }
}

/* alerts */

#main-flashes {
  margin-top: 10px;
}

.alert a {
  font-weight: bold;
}
