/* plain label */

@mixin label-plain {
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  text-transform: uppercase;
}
