<% if current_user.signed_latest_agreement? %>
  <p class="agreement-message alert alert-info">
    <strong>Note:</strong> You have signed the Academic Commons participation agreement. This agreement applies to all works you upload to Academic Commons.
    <%= link_to 'Read the agreement', agreement_path %>
  </p>
<% else %>
  <p class="agreement-message alert alert-info">
    <strong>Note:</strong> To upload your research, you must sign the Academic Commons participation agreement. This agreement applies to all works that you upload to Academic Commons.
    <%= link_to 'Read and sign the agreement', agreement_path %>
  </p>
<% end %>
