<%# Creator input fields.
    These fields are also generated in add-creator.js. If any change is made to
    this template, it needs to be reflected in the javascript as well.
%>

<div>
  <label for="deposit_creators_first_name">First Name</label>
  <input type="text" name="deposit[creators][][first_name]" class="deposit_creators_first_name">
  <label for="deposit_creators_last_name">Last Name</label>
  <input type="text" name="deposit[creators][][last_name]" class="deposit_creators_last_name">
  <label for="deposit_creators_uni">UNI</label>
  <input type="text" name="deposit[creators][][uni]" class="deposit_creators_uni">
</div>
