<% title 'Successful Upload' %>

<h3>Thank you for uploading your work to Academic Commons.</h3>
<p>
  Please allow one week for processing. You and any Columbia-affiliated co-authors will receive an email notification when your work is publicly available in the repository. Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a> if you have any questions.
</p>
<%= link_to 'Upload another work', uploads_path, class: 'btn btn-primary' %>
