<h3>Repository Statistics</h3>
<div class='box home-side'>
  <ul>
    <li><strong><%= get_total_count() %></strong> items in Academic Commons.</li>
    <li>Objects added in the last year: <strong><%= get_count_by_year() %></strong></li>
    <li>Objects added in the last 30 days:  <strong><%= get_count_by_month() %></strong></li>
  </ul>
</div>
