<h3>Deposit your Work in Academic Commons</h3>
<div   class='box home-side'  >


<p>Current faculty, staff, and students of Columbia and its affiliates are invited to <a href="/deposit">deposit</a> research materials  in any digital format, including: articles, monographs, theses and dissertations, working papers, technical reports, conference papers and presentations, datasets, images, video and other multimedia creations, and software code.
</p>
<p>
To learn more about the benefits of depositing your work into Academic Commons, <%= link_to 'visit our FAQ', faq_path %> or email our <a href="mailto:ac@columbia.edu"> Repository Team</a>.</p>
</div>
