<h3>Deposit your Work in Academic Commons</h3>
<div   class='box home-side'  >


<p>Current faculty, staff, and students of Columbia and its affiliates are invited to <a href="<%= relative_root %>/deposit">deposit</a> research materials  in any digital format, including: articles, monographs, theses and dissertations, working papers, technical reports, conference papers and presentations, datasets, images, video and other multimedia creations, and software code.
</p>
<p>
To learn more about the benefits of depositing your work into Academic Commons, <a href="http://support.academiccommons.columbia.edu/knowledgebase/topics/5578-deposit">visit our FAQ</a> or email our <a href="mailto:ac@columbia.edu"> Repository Team</a>.</p>
</div>
