

<div id="sidebar" class="span-7">

	<% sidebar_items << capture do %>
	
	    <%= render :partial=>'browse_content' %>
	    <%= render :partial=>'helpful_links' %>

           <%# waiting for upgrade to oauth2 %>
   	   <%# = render :partial=>'ac_by_numbers' %>
	
	<% end %>
	 
</div>