- deliveries = ActionMailer::Base.deliveries

- unless deliveries.empty?
  %div
  %div
  %hr
  %h3 Emails to be Sent:
  #emails
    - deliveries.each do |mail|
      .email
        .label To
        .value= mail.to

        .label Subject
        .value= mail.subject

        .label Body
        .value= mail.body

- deliveries.clear
