<div class="col-4 text-right">
<%= form_with url: admin_site_options_path, method: :patch, local: true do |form| %>
    <% if downloads_enabled?  %>
      <% action_label = "Disable Downloads" %>
      <% enable = false %>
    <% else %>
      <% action_label = "Enable Downloads" %>
      <% enable = true %>
    <% end %>
    <%= form.hidden_field SiteOption::DOWNLOADS_ENABLED, value: enable %>
    <%= form.submit action_label, class: "btn btn-secondary"%>
  <% end %>
</div>
