<div id="static-text">

  <h1>Columbia University&apos;s Research Repository</h1>

  <p>
    Academic Commons
    is a freely accessible digital collection of research and scholarship produced at
    <a href="http://www.columbia.edu/">Columbia University</a> or one of its affiliate institutions
    (<a href="http://barnard.edu/">Barnard College</a>,
    <a href="http://www.tc.columbia.edu/">Teachers College</a>,
    <a href="http://www.utsnyc.edu/">Union Theological Seminary</a>,
    and <a href="http://www.jtsa.edu/">Jewish Theological Seminary</a>).
    The mission of Academic Commons is to collect and preserve the digital outputs of research and scholarship produced at Columbia and its affiliate institutions and present them to a global audience.
  </p>

  <p class="list_title">Works in Academic Commons are:</p>
    <ul>
      <li>freely accessible online.</li>
      <li>regularly backed up.</li>
      <li>easily discoverable via search engines.</li>
      <li>assigned a persistent URL so they can always be found.</li>
    </ul>

  <h2>Deposit Your Research and Scholarship</h2>
  <p>If you are a current student, faculty member, or staff member, OR an alumnus, former faculty member, or former staff member of Columbia or one of its affiliate institutions, we invite you to contribute to Academic Commons. You can deposit outputs of research and scholarship you created while at Columbia.</p>

  <h3><a href="http://academiccommons.columbia.edu/deposit">Academic Commons self-deposit form</a></h3>
  <br/>

  <p class="list_title">As an Academic Commons contributor, you can:</p>
    <ul style="list-style-type:disc">
      <li>receive monthly usage statistics for your items in the repository.</li>
      <li>provide colleagues around the world with easy access to your work.</li>
      <li>create automatic feeds from the repository to your website.</li>
      <li>fulfill some funder public access requirements.</li>
    </ul>


  <h3>Eligible Content</h3>
  <p class="list_title">Academic Commons supports deposit of digitally formatted content such as:</p>

  <div style="display:table;">
    <div style="display:table-row;">
      <div style="display:table-cell;">
        <ul>
          <li>Articles</li>
          <li>Blog posts</li>
          <li>Conference papers</li>
          <li>Datasets</li>
          <li>Dissertations</li>
          <li>Fictional works</li>
          <li>Monographs</li>
        </ul>
      </div>
      <div style="display:table-cell;">
        <ul>
          <li>Multimedia creations</li>
          <li>Pre- and post-prints</li>
          <li>Presentation slides</li>
          <li>Technical reports</li>
          <li>Theses</li>
          <li>Working papers</li>
        </ul>
      </div>
    </div>
  </div>


  <h3>Works presented at Columbia events or in Columbia-based groups</h3>

  <p>Items created for Columbia events or Columbia-based groups may be eligible for deposit in Academic Commons, even if the creator is not a Columbia affiliate. Contact us for more information.</p>

  <h2>Who We Are</h2>
  <p>Academic Commons is an initiative of the <a href="http://scholcomm.columbia.edu"> Scholarly Communication Program </a>at the <a href="http://library.columbia.edu/">Columbia University Libraries</a>. Visit our websites to learn more about our work with students, faculty, and staff to increase the impact and utility of research and scholarship produced at Columbia and its affiliate institutions.</p>


  <h2>Questions?</h2>
  <p>Email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>
</div>

</div>
