<% extra_head_content << stylesheet_link_tag( 'jquery.fancybox', :media => 'screen, projection' )   %>

<% extra_head_content << javascript_include_tag('fancyBox/source/jquery.fancybox.pack.js') %>

<% extra_head_content << javascript_include_tag('fancyBox/source/helpers/jquery.fancybox-media.js') %>

<% extra_head_content << javascript_include_tag('about-videos.js') %>


<div id="about-text"  > 
<h1>Columbia University&apos;s <br/>Research Repository</h1>
<div class="about-video">
<iframe width="320" height="200" src="http://www.youtube.com/embed/0R4eY9TEfZA?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
</div>


<p><em>Academic Commons</em> is a freely accessible digital collection of research done at <a href="http://www.columbia.edu/">Columbia University</a> or one of its affiliate institutions, including <a href="http://barnard.edu/">Barnard College</a>,  <a href="http://www.tc.columbia.edu/">Teachers College</a>, <a href="http://www.utsnyc.edu/">Union Theological Seminary</a>, and <a href="http://www.jtsa.edu/">Jewish Theological Seminary</a>. It is a place where Columbia-affiliated students, faculty, staff and anyone participating in Columbia events or groups can archive the digital results of their research or scholarly works and share them with the world at large. <em>Academic Commons</em> is one of a suite of services provided by the <a href="http://cdrs.columbia.edu/cdrsmain/">Center for Digital Research and Scholarship</a> (CDRS) at <a href="http://library.columbia.edu/">Columbia University Libraries and Information Services</a>. 
</p>

<h1>How-To Videos</h1>

<p>In these videos we show you how to use the key features of <em>Academic Commons</em>. If you still have a question, please feel free to check out our <a href="http://support.academiccommons.columbia.edu/knowledgebase">FAQ</a> or just <a href="javascript:UserVoice.showPopupWidget();">ask us</a>!</p>

<ul class="how-to-videos">
<li>
<a class="fancybox-media" href="http://www.youtube.com/watch?v=PjRZvQGN9Bg&hd=1&modestbranding=1" ><%= image_tag("about/browse-video-icon.png") %><h2>Browsing Our Collections</h2></a>This video demonstrates how to browse the content in <em>Academic Commons</em> by institution, department, and subject. These browse features provide a wide variety of avenues to access our outstanding collections of Columbia University-produced research.

</li>
<li>
<a class="fancybox-media" href="http://www.youtube.com/watch?v=EHmu0ArJumo&hd=1&modestbranding=1" ><%= image_tag("about/search-video-icon.png") %><h2>Searching Our Collections</h2></a>This video demonstrates how to search <em>Academic Commons</em>  using our basic keyword search box and then use post-search limiters to refine your results to get exactly the content you are looking for, whether its Columbia University's latest dissertations or one of the classic papers in our Computer Science Technical Reports series.</li>


<li>
<a class="fancybox-media" href="http://www.youtube.com/watch?v=vkKrDklEQGo&hd=1&modestbranding=1" ><%= image_tag("about/deposit-video-icon.png") %><h2>Depositing Your Work</h2></a>This video demonstrates how Columbia-based researchers can deposit their work in <em>Academic Commons</em>, enhancing access to their research in the present and preserving it for the future.

</li>
 
</ul>

</div>

<%= render :partial=>'sidebar_all.erb' %>
