<style>

  #about-title {
	color: #221d53;
	font: "Open Sans", Arial, Helvetica, Geneva, sans-serif;
	font-size: x-large;
	font-weight: bold;
	margin-bottom: .5em;
	text-transform: uppercase;
  }

  #list_box {
  	padding: 0 0 0 30px;
  }
  #section {
  	padding: 0 0 0px 0;
  }
  #section_box {
  	padding: 0 0 0 0px;
  }
  #subhead_1{
  	font-size: large;
  	font-weight: bold;
  	padding: 10px 0 0 0;
  }
  #subhead_2{
  	font-weight: bold;
  	padding: 10px 0 0 0;
  }
  body p, ul, li, #subhead_2, #subhead_1, #section_box, #section{
  	font-size: 13px;
  }

</style>

<div id="about-text"  >

<div id="about-title">Columbia University&apos;s Research Repository</div>



<p>
	Academic Commons
	 is a freely accessible digital collection of research and scholarship produced at
	 <a href="http://www.columbia.edu/">Columbia University</a> or one of its affiliate institutions
	 (<a href="http://barnard.edu/">Barnard College</a>,
	   <a href="http://www.tc.columbia.edu/">Teachers College</a>,
	   <a href="http://www.utsnyc.edu/">Union Theological Seminary</a>,
	   and <a href="http://www.jtsa.edu/">Jewish Theological Seminary</a>).
        The mission of Academic Commons is to collect and preserve the digital outputs of research and scholarship produced at Columbia and its affiliate institutions and present them to a global audience.


<div style="padding: 0 40px 0 0;">

	<div id="section">
		Works in Academic Commons are:
		<div id="list_box">
			<ul style="list-style-type:disc">
			  <li>freely accessible online.</li>
			  <li>regularly backed up.</li>
			  <li>easily discoverable via search engines.</li>
			  <li>assigned a permanent URL so they can always be found.</li>
			</ul>
		</div>
	</div>

	<div id="section">
		<div id="subhead_1">Deposit Your Research and Scholarship</div>
		<div id="section_box">
        	If you are a current student, faculty member, or staff member, OR an alumnus, former faculty member, or former staff member of Columbia or one of its affiliate institutions, we invite you to contribute to Academic Commons. You can deposit outputs of research and scholarship you created while at Columbia.</br></br>
        	<h4><a href="http://academiccommons.columbia.edu/deposit">Academic Commons self-deposit form</a></h4>

        </div>
	</div>



	<div id="section">
		<div id="section_box">
			<div>
			As an Academic Commons contributor, you can:
			</div>
			<div id="list_box">
				<ul style="list-style-type:disc">
				  <li>receive monthly usage statistics for your items in the repository.</li>
				  <li>provide colleagues around the world with easy access to your work.</li>
				  <li>create automatic feeds from the repository to your website.</li>
				  <li>fulfill some funder public access requirements.</li>
				</ul>
			</div>
		</div>
	</div>


	<div id="section">
		<div id="subhead_2">Eligible Content</div>
		<div id="section_box">
			<div>
			Academic Commons supports deposit of digitally formatted content such as:
			</div>

			<div style="display:table; padding: 6px 0 0 0;">
				<div style="display:table-row;">
					<div id="list_box" style="display:table-cell; padding: 0 0 0 30px;">
						<ul style="list-style-type:disc">
						  <li>Articles</li>
						  <li>Blog posts</li>
						  <li>Conference papers</li>
						  <li>Datasets</li>
						  <li>Dissertations</li>
						  <li>Fictional works</li>
						  <li>Monographs</li>
						</ul>
					</div>
					<div style="display:table-cell;">
						<ul id="list_box" style="list-style-type:disc; padding: 0 0 0 60px;">

						  <li>Multimedia creations</li>
						  <li>Pre- and post-prints</li>
						  <li>Presentation slides</li>
						  <li>Technical reports</li>
						  <li>Theses</li>
						  <li>Working papers</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div id="section">
		<div id="subhead_2">CV Reviews</div>
		<div id="section_box">
		Faculty members and researchers at Columbia and its affiliates are invited to email their CVs to <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>. Academic Commons staff will review your CV to determine which items we can deposit in the repository for you.
		</div>
	</div>

	<div id="section">
		<div id="subhead_2">
			Works presented at Columbia events or in Columbia-based groups
		</div>
		<div id="section_box">
			Items created for Columbia events or Columbia-based groups may be eligible for deposit in Academic Commons, even if the creator is not a Columbia affiliate. Contact us for more information.
		</div>
	</div>


	<div id="section">
		<div id="subhead_1">Who We Are</div>
		<div id="section_box">
		Academic Commons is an initiative of the <a href="http://scholcomm.columbia.edu"> Scholarly Communication Program </a>at the <a href="http://cdrs.columbia.edu/cdrsmain/"> Center for Digital Research and Scholarship</a>, which is part of <a href="http://library.columbia.edu/">Columbia University Libraries</a>. Visit our websites to learn more about our work with students, faculty, and staff to increase the impact and utility of research and scholarship produced at Columbia and its affiliate institutions.
		</div>
	</div>

	<div id="section">
		<div id="subhead_1">Questions?</div>
		<div id="section_box">
			Visit our <a href="http://support.academiccommons.columbia.edu/knowledgebase">Knowledge Base</a> for more information about depositing your work, copyright, file formats, and more. Or email us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.
		</div>
	</div>
</div>




</p>



</div>

<%= render :partial=>'sidebar_all.erb' %>
