<% content_for :header do %>
  <h1>Credits</h1>
<% end %>

<p class="summary">
  Academic Commons is a program of the Columbia University Libraries.
</p>

<h2>Core team</h2>
<br>
<p>
  <strong>Nicky Agate</strong>, Assistant Director, Scholarly Communication & Projects, Digital Scholarship<br>
  <strong>Ben Armintor</strong>, Head, Development Infrastructure & Applications<br>
  <strong>Carla Galarza</strong>, Digital Repository Developer<br>
  <strong>Brian Luna Lucero</strong>, Digital Repository Coordinator<br>
  <strong>Ed Madrid</strong>, Web Designer<br>
  <strong>Mark Newton</strong>, Director, Digital Scholarship<br>
  <strong>Kerri O’Connell</strong>, Project Manager<br>
  <strong>Kathryn Pope</strong>, Digital Repository Manager<br>
</p>

<h2>Contributors and Former Team Members</h2>
<p>Eva Cunningham, Fred Duby, Eric O’Hanlon, Tony Pulickal, Melanie Wacker, Jack Donovan, Stephen Davis, Will Anderson, Rob Hilliker, Sarah Holstead, Rebecca Kennison, Amy Nurnberger, Aleksey Polkalyukhin, Simone Sacchi, Leyla Williams</p>

<p><em>Staff from across the Libraries contribute to the development and maintenance of the repository program. We welcome feedback at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</em></p>
