<% title 'Credits' %>

<% content_for :header do %>
  <h1>Credits</h1>
<% end %>

<p class="summary">
  Academic Commons is a program of the Columbia University Libraries.
</p>

<h2>Core team</h2>
<p>
  <strong>Ben Armintor</strong>, Head, Development Infrastructure & Applications<br>
  <strong>Jack Donovan</strong>, Lead Applications Developer<br>
  <strong>Esther Jackson</strong>, Scholarly Communication Technologies Librarian<br>
  <strong>Ed Madrid</strong>, Web Designer<br>
  <strong>Jeremiah Mercurio</strong>, Head, Humanities & History / Interim Director of Digital Scholarship<br>
  <strong>Kathryn Pope</strong>, Digital Repository Manager<br>
</p>

<h2>Contributors and Former Team Members</h2>
<p>Nicky Agate, Will Anderson, Eva Cunningham, Stephen Davis, Fred Duby, Carla Galarza, Rob Hilliker, Sarah Holstead, Rebecca Kennison, Brian Luna Lucero, Mark Newton, Amy Nurnberger, Kerri O’Connell, Eric O’Hanlon, Aleksey Polkalyukhin, Tony Pulickal, Simone Sacchi, Melanie Wacker, Leyla Williams</p>

<p><em>Staff from across the Libraries contribute to the development and maintenance of the repository program. We welcome feedback at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</em></p>
