<% title 'Credits' %>

<% content_for :header do %>
  <h1>Credits</h1>
<% end %>

<p class="summary">
  Academic Commons is a program of the Columbia University Libraries.
</p>

<h2>Core team</h2>
<p>
  <strong>Ben Armintor</strong>, Director, Digital Library and Scholarly Technologies<br>
  <strong>Jack Donovan</strong>, Lead Applications Developer<br>
  <strong>Bradley Goldsmith</strong>, Assistant Programmer/Analyst<br>
  <strong>Esther Jackson</strong>, Head, Open Scholarship Services<br>
  <strong>Ed Madrid</strong>, Web Designer<br>
  <strong>Eric O'Hanlon</strong>, Head, Development Infrastructure & Applications<br>
  <strong>Kathryn Pope</strong>, Digital Repository Manager<br>
</p>

<h2>Contributors and Former Team Members</h2>
<p>Nicky Agate, Will Anderson, Anne Cong-Huyen, Eva Cunningham, Stephen Davis, Fred Duby, Carla Galarza, Rob Hilliker, Sarah Holstead, Rebecca Kennison, Brian Luna Lucero, Jeremiah Mercurio, Mark Newton, Amy Nurnberger, Kerri O’Connell, Aleksey Polkalyukhin, Tony Pulickal, Simone Sacchi, Melanie Wacker, Nathan Walker, Leyla Williams</p>

<p><em>Staff from across the Libraries contribute to the development and maintenance of the repository program. We welcome feedback at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</em></p>
