<div id="static-text">
  <div class="page-title">
    <div class="container">
      <h1>Developers</h1>
    </div>
  </div>

  <div class="container">

    <h3>OAI-PMH</h3>
    <p>Academic Commons supports the <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH)</a>, version 2.0.
    The base URL is: <a href="https://academiccommons.columbia.edu/catalog/oai">https://academiccommons.columbia.edu/catalog/oai</a></p>

    <h3>SWORD</h3>
    <p>Academic Commons supports content deposit via the <a href="http://swordapp.org/about/">SWORD</a> protocol version 1.3. If you are interested in using SWORD to deposit to Academic Commons, please contact us at <a href="mailto:ac@columbia.edu">ac@columbia.edu</a>.</p>

    <h3>Sitemap</h3>
    <p>The sitemap for Academic Commons is regenerated daily. <a href="https://academiccommons.columbia.edu/sitemap.xml.gz">https://academiccommons.columbia.edu/sitemap.xml.gz</a></p>

    <h3>Metadata license</h3>
    <p>Academic Commons bibliographic metadata-excluding abstracts, which may be under copyright-is available under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons 0 1.0 Universal</a> license.</p>

    <img src="<%= image_url('logo-cc0-license.png'); %>">

    <p>To the extent possible under law, Columbia University Libraries has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata (abstracts are excluded from this license). This work is published from: United States.</p>

  </div><!--.container-->

</div><!--#static-text-->
