<div id="static-text">
  <div class="page-title">
    <div class="container">
      <h1>Developers</h1>
    </div>
  </div>

  <div class="container">

  </div><!--.container-->

</div><!--#static-text-->
