<%= content_for :dashboard do %>

  <div class="row">

  <div class="col-md-2">
    <%= render 'shared/admin_sidebar' %>
  </div>

  <div class="col-md-10">
    <%= yield %>
  </div>

  </div>

<% end %>

<%= render template: 'layouts/dashboard' %>
